/* Establish basic layout elements
-------------------------------------------------------------- */
*     {box-sizing:border-box;}
body  {background:#efefef;}

html, body, .wrapper, #navigation, #Header, #Nav, #contentArea, #col1, #col2, #col3, #Footer
										{margin:0; padding:0;}
.fixedwidth         {width:100%;
  @include bp(desktop) {margin:0 auto; width:85%;}
  @include bp(wide) {width:80%;} }

/* Links
-------------------------------------------------------------- */
a			{color:$link; text-decoration:none; position:relative; @include transition(all, .25s, ease-in-out);
	&:visited		{color:lighten($link, 10%);}
	&:hover,
	&:focus 		{color:$green; @include transition(all, .25s, ease-in-out);}
	&:active 		{top:1px;}
}
#contentArea a:before {content:''; position:absolute; width:100%; height:1px; bottom:-1px; left:0; background:$green; visibility:hidden; transform:scaleX(0); transition:all .3s ease-in-out;}
#contentArea a:hover:before {visibility:visible; transform:scaleX(1);}
.content a:link, .content a:visited, table a:link {border-bottom:1px solid $link; text-shadow:none;}
.content a:visited {border-bottom:1px solid lighten($link, 10%);}
.content a:after {border:0;}

/* Header elements.
-------------------------------------------------------------- */
#navigation {font-size:0.9em; background:#5784d5;
  @include bp(desktop){height:141px;} }

#Header {overflow:hidden; position:relative; text-align:center; @extend .fixedwidth;
  @include bp(tablet) {height:95px; background:url(images/Skyline1.png) no-repeat; background-position:20%; text-align:left;}
  @include bp(wide){background-position:40%; background-repeat:no-repeat; box-shadow:none;} }

.logo {vertical-align:middle; cursor:pointer; filter:drop-shadow(1px 1px 5px #333);
  @include bp(tablet) {width:70px;} }
#Header .logo {display:none; position:absolute; right:3%; margin:0; padding:0; width:60px;
  @include bp(tablet) {display:inline; position:static; width:85px; margin:0.25em 0 0 1em;}
  @include bp(desktop) {margin:0;}
  @include bp(wide) {display:none;} }
.raleigh  {font-size:2em; padding-left:0.25em; color:#fff; display:inline; vertical-align:middle; text-shadow:1px 1px 3px #111; font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", serif; transition:all, .5s, ease-in-out;
  @include bp(desktop) {font-size:2.2em;}
  @include bp(wide) {display:block; padding-top:0.5em;} }
.raleigh:hover      {cursor:pointer; transform: scale(1.25) translate(0.5em);
  @include bp(wide) {transform: scale(1.25) translate(3.75em);} }

#SearchBox          {position:fixed; overflow:hidden; width:0; transform:translate(0.75em, 0.75em); transition:all, .4s, ease-in-out; 
  @include bp(tablet) {position:static; float:right; width:40%; transform:translate(0, -4em);}
  @include bp(desktop) {width:29%;}
  @include bp(wide) {width:24%; transform:translate(0, -3em);} }
#SearchBox.visible  {width:95%; z-index:200;}
#SearchBox label    {@extend .ally;}
#SearchInput        {margin:0; padding:0.25em; width:79%; vertical-align:middle; border:1px solid #ddd; border-radius:2px 0 0 2px; font:bold 1.25em 'lucida sans', 'trebuchet MS', 'Tahoma'; transition:box-shadow, .3s, ease-in-out;}
#SearchInput:focus  {box-shadow:0 0 5px rgba(81, 203, 238, 1);}
#SearchInput::-webkit-input-placeholder, #SearchInput::-moz-placeholder, #SearchInput:-ms-input-placeholder {font-weight:normal;}
#SearchBox .action  {margin:0 0 0 -0.25em; padding:0.5em; width:20%; vertical-align:middle; font-size:1em; font-weight:300; border-radius:0 3px 3px 0; overflow:visible; position:relative; cursor:pointer; border:1px solid #666; text-shadow:1px 1px 3px #111;}
#Search .action     {@include gradient(#DD4B39, darken(#DD4B39, 15%));}

.utility {display:none;}

/* Main navigation elements.
-------------------------------------------------------------- */
#Nav            {float:left; width:100%; z-index:100; box-shadow:0 1px 2px #777; @include transition(all, .5s, linear); background:#333; text-align:center; position:relative;}
#Nav ul         {margin:0; clear:both; width:100%; transition:display, .15s, cubic-bezier(0,1.12,.39,.98); @extend .fixedwidth;
  @include bp(tablet) {display:block; width:90%; float:right;}
  @include bp(desktop) {display:table-row;} 
  @include bp(wide) {padding-left:1em; width:80%;} }
#Nav ul.visible {display:block;}

#Nav a        {color:#fff; text-shadow:1px 1px 3px #111;}
#Nav a:hover  {border:0;}
#Nav #Home:hover {
  @include bp(tablet) {border-bottom:1px solid #999; @include gradient($link, lighten($link, 10%));} 
  @include bp(desktop) {border:0; background:transparent;} }

#Nav #Lines, #Nav #Lines:active {float:left; margin:2%; line-height:30px; font-size:1.1em; padding:0 1%; font-weight:normal; position:absolute; top:-3em; left:0;
  @include bp(tablet) {top:45%;}
  @include bp(desktop) {top:0; margin:1%} }
#Nav #Lines:hover {border:1px solid #666;}
#Lines.display {
  @include bp(desktop) {display:none;} }
#Lines span {display:none;
  @include bp(desktop) {display:inline;} }
@media only screen and (min-width:60em) and (max-width:71em) {
  #Lines span {display:none;}
}
#Home {@extend .icon-home; font-weight:700; display:block; margin:1em;
  @include bp(tablet) {display:block; position:absolute; height:50px; width:10%; border-bottom:1px solid #999; text-align:center; margin:0;}
  @include bp(desktop) {display:none;} }
#Glass {@extend .icon-search; font-weight:700; line-height:20px; padding:5px; float:right; vertical-align:baseline; margin:1.5%; font-size:1.5em; cursor:pointer; position:absolute; top:-2.25em; right:0;
  @include bp(tablet) {display:none;} }
#Glass.hidden {display:none;}

#Nav li         {border-top:1px solid #999; text-align:left;
  @include bp(tablet) {float:left; width:25%; border:0; text-align:center}
  @include bp(desktop) {width:auto; @include transition(background, .2s, ease-in-out);} }
#Nav li:hover   {font-weight:normal; color:#fff; @include gradient($link, lighten($link, 10%));}
#Nav li:first-child {display:none;
  @include bp(desktop) {display:inline-block;} }
#Nav li:nth-child(-n+5) {
  @include bp(tablet) {border-bottom:1px solid #999;} 
  @include bp(desktop) {border:0;} }
#Nav li:nth-child(5) {
  @include bp(tablet) {border-right:none; font-size:1em;} }
@media only screen and (min-width:40em) and (max-width:51em) {
  #Nav li:nth-child(5) {height:50px; font-size:0.85em;}
}
.current        {@include gradient($link, lighten($link, 10%));}
.current a:hover, .current:hover a {color:#fff;}

#Nav li a       {padding:1.1em; display:inline-block; width:100%;
  @include bp(tablet) {width:auto;} 
  @include bp(wide) {padding-right:1.4em; padding-left:1.4em;} }
#Nav li:first-child a {
  @include bp(desktop) {padding-top:0.25em; padding-bottom:0.25em;} }
@media only screen and (min-width:1em) {
  #Nav li:first-child > a:before {content: "\e608"; line-height:42px; font-size:1.5em; vertical-align:sub;}
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* Main content areas.
-------------------------------------------------------------- */
#contentArea, #Main {padding:0.5em; overflow:hidden; @extend .fixedwidth; background:#fff;
  @include bp(desktop) {padding:1.5em 0; background:none;} }

#col1 {width:190px; margin-left:-200px; padding:1%; font-size:0.8em; overflow-y:auto; position:fixed; top:140px; right:0;
  bottom:0; left:0; z-index:50; background:#f7f7f7; border-radius:3px; transition:margin-left .15s cubic-bezier(0, 1.12, 0.39, 0.98);}

#col1.menu {margin:0; transition:margin-left 0.15s cubic-bezier(0, 1.12, 0.39, 0.98);}
#col1.docked {top:35px;}

#col1.land {margin:0 1.5%; width:19%; float:left; position:static; border:0;}

#col2 {float:left; position:relative; margin:0; width:70%;}

#col3 {float:right; width:30%; padding:0;}

#col1.land ~ #col2 {width:78%;}

#col1.land ~ #col3 {width:78%;}

#col1.land ~ #col3 #right > div {float:left; width:39%; margin-left:1%;}

#Article {float:left; margin:0 0 0 1%; padding:1%; width:70%; min-height:540px; position:relative;}

#Sidebar {float:left; width:29%; padding:0.5% 0 0 1%;}

/* Footer elements.
-------------------------------------------------------------- */
.box.accolades {margin:0; padding:1%; font-size:0.9em; text-align:center; position:relative; box-shadow:0 2px 3px #999; background:$teal;}
.accolades h3 {color:#fdfdfd; text-shadow:1px 1px 1px #333; margin:0;}
.accolades h2 {font-size:2em; position:relative; color:#fff; text-shadow:1px 1px 3px #111;}
.accolades a {text-decoration:none;}

#Footer {margin:0 auto; padding:1%; text-align:center; font-size:0.85em; color:#fff; position:relative; background:#444;}
#Footer .logo {margin-left:40%; -webkit-filter:none; filter:none;}
#Footer h3 {color:#ccc; text-shadow:1px 1px 1px #333;}
#Footer a,.copyright a {color:#fff;}
#Footer .icon-mail-2 {background:#657838; border-radius:10px; padding:8px 6px 10px 11px; font-size:0.8em;}
#Footer .action,#Footer .accolades a,.accolades #Footer a {padding-top:3px; color:#fff; border:1px solid #657838; box-shadow:0 4px 0 #485528; background:#7b9244;}
.socialmedia {width:185px; margin:0 auto;}
#Footer .socialmedia a:hover {text-decoration:none;}
.socialmedia img {float:left; margin-right:5px; border-radius:20px; box-shadow:0 1px 2px #666;}
.bow {border-radius:3px; box-shadow:0 1px 2px #666; width:110px; opacity:0.9; vertical-align:middle;}
.legal {clear:both; margin-bottom:0;}
.legal li {display:inline; margin:0 10px;}
#google_translate_element {margin:1em 0;}
#google_translate_element a {color:#333;}
.copyright {background:#333; color:#fff; text-align:center; font-size:0.8em; margin-bottom:0; padding-bottom:10px;}