/* ----------------------------------------------------
Description:		Global structural elements
Created:				3.2.2012
Last Modified:	3.2.2012 (cwg)
---------------------------------------------------- */

/* Establish basic layout elements.
-------------------------------------------------------------- */
html, body, #Main, #Article, #sidebar, #screenWrapper, #navigation, #header, #globalNavArea, #contentArea, #contentAreaGSA, #col1, #col2, #col3, #col1Large, #col2Large, #accolade, #footerContent 
										{margin:0; padding:0;}
#screenWrapper 			{margin:0 auto; width:1005px; background:#f1f2f1; border:1px solid #202020; border-top:0; box-shadow:0px 2px 30px #444;}

/* Text elements.
-------------------------------------------------------------- */
/*Link*/
a			{color:$link; text-decoration:none;
	&:visited		{color:lighten($link, 10%);}
	&:hover, 
	&:focus 		{color:$linkhover; text-decoration:underline;}
	&:active 		{position:relative; top:1px; outline:0;}
}


/* Header elements.
-------------------------------------------------------------- */
#header 						{height:110px; background:transparent url(images/logo.png) top left no-repeat; background-position:50%; background-size:cover; overflow:hidden; position:relative; color:#fff;}
#header a						{color:#fff; text-decoration:underline;}

#city_seal					{width:45%; cursor:pointer;}
#city_seal img 			{float:left; margin:4px 0 0 10px;}
.cityOfRaleigh 			{margin:30px 0 0 5px; font:2.8em "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; display:inline; position:absolute; text-shadow:1px 1px 0 #333;}
.cityOfRaleigh:hover{cursor:pointer;}

.topLinks, #fontsizer, #rssLayer, #searchBoxArea {position:absolute; right:25px;}

.topLinks 					{top:5px; right:0px; display:none;}
.topLinks li 				{float:left; padding:0 15px; border-right:1px solid #666;}
.topLinks li:last-child {border-right:none;}

#rssLayer 					{top:10px; right:150px;}

#fontsizer 					{top:10px;}
#fontsizer span			{cursor:pointer;}

#searchBoxArea 			{bottom:15px; right:0; width:35%;}
#searchInput 				{float:left; margin:0 0 0 1%; padding:6.5px 5px; width:70%; background:#fdfdfd url(images/google.png) left no-repeat; border:0; border-radius:3px 0 0 3px; font:bold 1.2em 'lucida sans', 'trebuchet MS', 'Tahoma';}
#executeSEearch			{float:left; margin:0; padding:6px; width:20%; color:#fff; font-size:1.1em; font-weight:700; border:1px solid #666; background:#666; border-radius: 0 3px 3px 0; overflow:visible; position:relative; cursor:pointer;}
#executeSEearch:hover {text-decoration:underline;}
#executeSEearch:active {position:relative; top:1px; outline:0;}
#advSearch a 				{clear:both; float:left; color:#888; text-decoration:none; font-size:0.9em;}


/* Main navigation elements.
-------------------------------------------------------------- */
#globalNavArea 						{float:left; width:100%; border-top:1px solid #eee; @include gradient(top, #515a52, #293129);}
#globalNavArea li 				{float:left; border-left:1px solid #9ba19b; text-align:center;}
#tabSelected 							{font-weight:700; @include gradient(top, #5c8fea, #2e5baf);}
#globalNavArea a 					{padding:5px 17px; color:#fff; font-size:1.1em; line-height:40px;}
#tabsHeader li:hover, 
#tabsHeader li:hover a 		{font-weight:normal; text-decoration:underline;}
#tabsHeader #tabSelected a:hover {font-weight:700;}
#tabsHeader li#tabSelected:hover a {font-weight:700;}
#globalNavArea li:first-child {border-left:none; /*text-indent:-50em; background:url(images/home.png); width:28px;*/}


/* Main content areas.
-------------------------------------------------------------- */
#contentArea, #Main {padding:20px 0; width:100%; border-top:3px solid #ddd; border-bottom:1px solid #ddd; overflow:hidden;}
#col1 				{float:left; width:19%;}
#col2 				{float:left; margin:0 0 0 1%; width:59%; position:relative;}
#col3 				{float:right; width:20%;}
#col2Large 		{float:left; width:78.5%;}
#Article 			{float:left; margin:0 1% 0 0; width:70%; min-height:540px; position:relative;}
#sidebar 			{float:left; width:29%;}


/* Footer elements.
-------------------------------------------------------------- */
/*Accolades*/
#accolade 				{padding:2%; width:96%; background:#d7e2f1; border-bottom:1px solid #fff; border-top:1px solid #fff; text-align:center;}
#accldePre 				{clear:both; text-align:left; font:1.5em bold Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight:700;}
#accolade h2 			{margin-right:5px; font:2em "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; display:inline;}
.accldeSource 		{font-size:1.08em; font-style:italic; text-align:right; display:inline;}
#accldeMore a			{float:right; margin:0; /*font-size:0.92em;*/}

/*Functional Footer*/
.newfooter 				{margin:15px auto 0; width:70%; text-align:center;}
.socialmedia 			{width:200px; margin:0 auto;}
.socialmedia img 	{float:left; margin-right:5px; border-radius:3px; box-shadow:0px 1px 2px #666;} /*ADD SPRITE*/
#hmMenu						{clear:both; margin:20px auto 0;}
#hmMenu li 				{display:inline; margin:0 10px;}
#google_translate_element {margin-top:15px;}
#copyright 				{padding:10px; color:#666; text-align:center; font-size:0.9em;}
/*#FloatingTab {top:25%;right:0;margin:0;padding:20px;width:3px;height:110px;color:white;cursor:pointer;text-indent:-100000px; overflow:hidden;position:fixed;z-index:100000;margin-right:-7px;background:#c28176;background-image:url(images/websitesurvey.png);border:2px solid #666;}
#FloatingTab:hover {margin-right:-5px;background:#7c443A;background-image:url(images/websitesurvey.png);}*/