/* ----------------------------------------------------
Description:		Global structural elements
Created:				3.2.2012
Last Modified:	11.2.2012 (cwg)
---------------------------------------------------- */

/* Establish basic layout elements.
-------------------------------------------------------------- */
html, body, #Main, #Article, #sidebar, #screenWrapper, #navigation, #header, #globalNavArea, #contentArea, #contentAreaGSA, #col1, #col2, #col3, #col1Large, #col2Large, #accolade, #footerContent 
										{margin:0; padding:0;}
#screenWrapper 			{margin:0 auto; width:960px; background:#eee; border:1px solid #666; border-top:0; box-shadow:0px 2px 30px #444;}

/* Text elements.
-------------------------------------------------------------- */
/*Link*/
a			{color:$link; text-decoration:none;
	&:visited		{color:lighten($link, 10%);}
	&:hover, 
	&:focus 		{color:$linkhover; text-decoration:underline; @include transition(color, .4s, linear);}
	&:active 		{position:relative; top:1px; outline:0;}
}


/* Header elements.
-------------------------------------------------------------- */
#header 						{height:110px; background:#eee url(images/logo.png) top left no-repeat; background-position:50%; background-size:cover; overflow:hidden; position:relative; color:#fff;}
#header a						{color:#fff; text-decoration:underline;}

#city_seal					{width:45%; cursor:pointer;}
#city_seal img 			{float:left; margin:4px 0 0 10px;}
.cityOfRaleigh 			{margin:30px 0 0 5px; font:2.8em "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; display:inline; position:absolute; text-shadow:1px 1px 0 #333; -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#333333)"; color:#fff;}
.cityOfRaleigh:hover{cursor:pointer; font-size:3.2em; @include transition(font-size, .4s, ease-in-out);}

.topLinks, #fontsizer, #rssLayer, #searchBoxArea {position:absolute; right:25px;}

.topLinks 					{top:5px; right:0; display:none;}
.topLinks li 				{float:left; padding:0 15px; border-right:1px solid #666;}
.topLinks li:last-child {border-right:none;}

#rssLayer 					{top:10px; right:150px;}

#fontsizer 					{top:10px;}
#fontsizer span			{cursor:pointer;}

#searchBoxArea 			{bottom:15px; right:0; width:35%;}
#searchInput 				{float:left; margin:0 0 0 1%; padding:7px 5px; width:70%; background:#fff url(images/google.png) left no-repeat; border:0; border-radius:3px 0 0 3px; font:bold 1.2em 'lucida sans', 'trebuchet MS', 'Tahoma'; @include transition(box-shadow, .3s, ease-in-out);}
#searchInput:focus	{box-shadow: 0 0 5px rgba(81, 203, 238, 1);}
#executeSEearch, #executeSearch {float:left; margin:-1px 0; padding:7px; width:20%; border-radius:0 3px 3px 0; overflow:visible; position:relative; cursor:pointer; border:1px solid #666; text-shadow:1px 1px 3px #111; -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#111111)"; color:#fff; font-size:1.1em; font-weight:700; @include gradient(#B2B2B2, #666665);}
#executeSEearch:hover, #executeSearch:hover {@extend .action:hover;}
#executeSEearch:active, #executeSearch:active {@extend .action:active;}

#advSearch a 				{clear:both; float:left; color:#888; text-decoration:none; font-size:0.9em;}


/* Main navigation elements.
-------------------------------------------------------------- */
#globalNavArea 						{float:left; width:100%; border-top:1px solid #999; box-shadow:0 5px 5px #aaa; position:relative; @include gradient(#515a52, #293129);}
#globalNavArea li 				{float:left; border-right:1px solid #999; text-align:center; @include transition(background, .2s, ease-in-out);}
#tabSelected 							{font-weight:700; @include gradient($link, lighten($link, 10%));}
#globalNavArea a 					{padding:14px; color:#fff; font-size:1.1em; line-height:40px; text-shadow:1px 1px 3px #111; -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#111111)"; text-decoration:none;}
#tabsHeader li:hover			{font-weight:normal; color:#fff; @include gradient($link, lighten($link, 10%));}
#tabSelected a:hover, #tabSelected:hover a {font-weight:700; color:#fff;}
#globalNavArea li:last-child {border-right:none;}

#lines	{display:none;}

/* Main content areas.
-------------------------------------------------------------- */
#contentArea, #Main, #Search {padding:2% 0; width:100%; border-top:3px solid #ddd; border-bottom:1px solid #ddd; overflow:hidden;}
#col1 				{float:left; width:19%;}
#col2 				{float:left; margin:0 0 0 1%; width:59%; position:relative;}
#col3 				{float:right; width:20%;}
#col2Large 		{float:left; width:78.5%;}
#Article 			{float:left; margin:0 1% 0 0; width:70%; min-height:540px; position:relative;}
#sidebar 			{float:left; width:29%;}


/* Footer elements.
-------------------------------------------------------------- */
/*Accolades*/
#accolade 				{padding:2%; width:96%; background:#d7e2f1; border-bottom:1px solid #fff; border-top:1px solid #fff; text-align:center;}
#accldePre 				{clear:both; text-align:left; font:1.5em bold Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight:700;}
#accolade h2 			{margin-right:5px; font:2em "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; display:inline;}
.accldeSource 		{font-size:1.08em; font-style:italic; text-align:right; display:inline;}
#accldeMore a			{float:right; margin:0;}

/*Footer*/
.newfooter 				{margin:0 auto; padding-top:15px; width:70%; text-align:center;}
.socialmedia 			{width:165px; margin:0 auto;}
.socialmedia img 	{float:left; margin-right:5px; border-radius:3px; box-shadow:0px 1px 2px #666;} /*ADD SPRITE OR ICONS*/
.bow 							{width:65%;}
#hmMenu						{clear:both; margin:20px auto 0;}
#hmMenu li 				{display:inline; margin:0 10px;}
#google_translate_element {margin-top:15px;}
#copyright 				{padding:10px; color:#666; text-align:center; font-size:0.9em;}
/*#FloatingTab {top:25%;right:0;margin:0;padding:20px;width:3px;height:110px;color:white;cursor:pointer;text-indent:-100000px; overflow:hidden;position:fixed;z-index:100000;margin-right:-7px;background:#c28176;background-image:url(images/websitesurvey.png);border:2px solid #666;}
#FloatingTab:hover {margin-right:-5px;background:#7c443A;background-image:url(images/websitesurvey.png);}*/