/* GSA - added separate file march 2011
========*/

/*TOP*/
#resultsCount, .sortBy, #spell_n_stuff {margin:10px;}
.z, .dn-hidden {display:none;}
#main {clear:both;}
#mainNoDocs {margin-left:220px;}
/*LeftNav */
#dyn_nav {float:left; width:200px; margin-right:20px;}
#dyn_nav li {margin-bottom:5px;}
.dn-attr {margin:10px; padding:0;}
.dn-attr-h {margin-bottom:3px; border-bottom:1px solid #bfbfbf; font-weight:700;}
span.dn-more-img {margin-right:1px; width:15px; height:15px; overflow:hidden; position:relative; vertical-align:text-bottom; display:inline-block;}
span.dn-limg {background:transparent url(http://192.168.54.150/less.gif) no-repeat scroll 0 0;}
span.dn-mimg {background:transparent url(http://192.168.54.150/more.gif) no-repeat scroll 0 0;}
#cluster_status {margin-left:10px;}
/*Results*/
.dn-bar {clear:both; margin-top:-100px; width:100%;}
.dn-bar-rt {float:right; margin:30px 120px 0 20px; border:none;}
.g {margin:1em 0;}
.resDocType {font-size:.8em;}
.url {color:#319331;}
#bottom-navigation {width:530px; margin-right:10px;}
#bottom-navigation table {width:auto; margin:0;}
.n {margin-top:1ex;}
.n .i {font-weight:700;}
/*Other*/
a.dn-link, .dn-img {outline-style:none;}
a.dn-r-img {float:right; margin:3px 4px 0 4px;}
.dn-bar a.cancel-url:hover, .reset del {text-decoration:line-through;}
.dn-attr-narrow {margin-left:10px;}
.dn-bar-v {color:#111;}
.dn-block {display:block;}
.dnd-handle {cursor:move;}
.dnd-region {min-height:32px; height:auto;}
.dn-hdr {clear:both; margin:10px 0 8px 10px; padding:0; font-size:1.3em; font-weight:700;}
.dn-img {width:11px; height:9px; background:transparent url(http://192.168.54.150/remove.gif) no-repeat scroll 0 0; border:none; position:relative;}
.dn-inline-block, .dn-bar-rt, .dn-bar-rt table, .dn-img {display:inline-block;}
.dn-bar-rt {display:none;}
span.dn-bar-nav a {margin:20px 20px 0 0; font-size:1.2em;}
.keymatch {width:550px; background:#c0d8c0;}
ul.dn-attr-hidden {margin:0; padding-top:4px;}
.personalization {padding:0 0 4px; font-size:.8em;}
#repeatresults {font-style:italic;}
.reset blockquote,.reset q {quotes:none;}
.reset blockquote:before, .reset blockquote:after, .reset q:before, .reset q:after {content:none;}
.reset ins {text-decoration:none;}
.reset ol, .reset ul {list-style:none;}
.reset table {border-collapse:collapse; border-spacing:0;}
.reset:focus {outline:0;}
.sb-r {padding:5px 0 0 5px; width:45%;}
.sb-r-alt {padding-top:5px; width:100%;}
.sb-r-border {border-left:1px solid #d5dff2;}
.sb-r-lbl, .sb-r-lbl-apps {margin:0 0 10px 10px; color:#666; font-size:small; font-weight:normal; text-align:left;}
.sb-r-lbl-apps {margin:0;}
.sb-r-ld-msg {padding:2px; color:#fff; background:#3c61a5; font-size:1.1em;}
.sb-r-ld-msg-c {margin-bottom:30px;}
.sb-r-res {margin:0 0 10px 10px; font-size:1.1em;}
.ss-gac-b {background:#3c61a5; color:#fff;}
.ss-gac-b td {color:#fff;}
.ss-gac-c {padding-left:3px; white-space:nowrap; text-align:left; overflow:hidden;}
.ss-gac-d {padding:0 3px; white-space:nowrap; color:#319331; font-size:.8em; text-align:right; overflow:hidden;}
.ss-gac-e span {color:#2a1faa; text-decoration:underline; cursor:pointer;}
.ss-gac-e td {padding:0 3px 2px; font-size:.8em; line-height:15px; text-align:right;}
.ss-gac-m {margin:0; position:absolute; left:432px; top:64px; border:1px solid #111; background:#fff; font-size:1.1em; line-height:17px; cursor:default; z-index:99;}