/* Print - added separate file march 2011
====================*/

@media print {
  * {background:transparent !important; color:black !important; text-shadow:none !important; /*filter:none !important; -ms-filter:none;*/} /*Black prints faster: h5bp.com/s*/
  a, a:visited {text-decoration:underline; color:#781351;}
  a[href]:after {content:" (" attr(href) ")"; font-size:80%; font-style:italic;}
  abbr[title]:after {content:" (" attr(title) ")";}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content:"";}  /*Don't show links for images, or javascript/internal links*/
  pre, blockquote {border:1px solid #999; page-break-inside:avoid;}
  thead {display:table-header-group;} /*h5bp.com/t*/
  tr, img {page-break-inside:avoid;}
  img {max-width:100% !important;}
  /*@page {margin:0.5cm;}*/
  p, h2, h3 {orphans:3; widows:3;}
  h2, h3 {page-break-after:avoid;}
  body {background:#fff; font:100%/1.5 Georgia, Times New Roman, serif;}
  #screenWrapper {border:none;}
  #navigation, #col1, #col3, #accolade, #footerContent, #copyright, #addThisButtons, .rsssharing, #sidebar {display:none;}
  #col2, #Article {width:100%; margin:0; padding:0; float:none; background:transparent;}
  #col2:before, #Article:before {display:block; content:"Thank you for printing this page from the City of Raleigh's Official Website (www.raleighnc.gov)."; margin-bottom:10px; padding:3px 5px; border:1px solid #bbb; font-style:italic;}
}