/*Main CSS
============*/
body {padding-bottom:15px; background:lighten(#b5c2b7, 7%);}

/*Generic classes*/
.cf							{overflow:hidden;}
.hidden 				{display:none;}
.left 					{float:left;}
.right 					{float:right;}
.first 					{margin-left:0; padding-left:0;}
.last 					{margin-right:0; padding-right:0; border-right:none;}
.fifth					{width:19%;}
.fourth					{width:24%;}
.third 					{width:33%;} // extend this and get rid of in html
.half 					{width:48%;}
.twothirds			{width:64%;}
.small 					{width:25%;}
.medium					{width:50%;}
.large					{width:78%;}
.full						{width:96%;}
.align-justify	{text-align:justify;}
.align-left			{text-align:left;}
.align-center		{text-align:center;}
.align-right		{text-align:right;}
.fixed					{position:fixed !important; top:0; left:0;}
.notfixed				{position:relative;}
.line, hr 			{clear:both; margin:0.6em 0 1.2em 0; width:100%; height:1px; background:#ddd;}
.formbox				{padding:0 2%; font-size:1.1em;}
img 						{border:0; max-width:100%;}
.action, .action:visited 	{margin:5%; padding:6px 18px; border:1px solid #666; border-radius:5px; text-shadow:0 1px rgba(0, 0, 0, 0.1); color:#fff; font-size:1.1em; font-weight:700; @include gradient(#B2B2B2, #666665);}
.action:hover 	{border:1px solid #b2b2b2; color:#fff; text-shadow:1px 1px 3px #111; -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#111111)"; box-shadow:0 1px 1px rgba(0,0,0,0.2); cursor:pointer; text-decoration:none; @include gradient(#666665, #B2B2B2);}
.action:active 	{box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)}
.action img			{display:none;}

/*OOCSS*/
.dotted					{border-bottom:1px dotted #ccc;}
.underline			{border-bottom:1px solid #ccc;}
.ie9						{-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(enabled='false')" !important;}

/*Links*/
.storyContentWrapper a:link, .storyContentWrapper a:visited, .content a:link, .content a:visited, table a:link 	{text-decoration:underline;}
.section .coricon, .coricon {margin:0; padding:0 0 0 2px; border:0; background:none; vertical-align:middle; box-shadow:none;}
// :root .section .coricon, .coricon {@extend .ie9;}

/*Pages*/
.storyContentWrapper, .content {margin:0 auto; padding-top:30px; min-width:300px; max-width:735px; font-size:1.15em; background:#eee;}
#col3, #sidebar, #Sidebar {font-size:1.05em;}
#Article .storyContentWrapper, #Article .content {padding:0;}
#storyContentWrapper {padding:0 20px;}
#col2 .updatedDate {position:absolute; top:3px; left:5px; color:#666;}
#Article .updatedDate{margin:10px 0 20px 0; color:#666;}
#addThisButtons	{position:absolute; right:10px; top:3px;}

/*Left Col
===========*/
/*Global*/
.icons 								{height:55px; @extend .dotted;}
.icons a 							{float:left; margin:1% 0; width:31%; /*line-height:30px;*/ text-align:center; text-shadow:1px 1px 1px #ccc;}
.icons a:hover 				{text-decoration:none;}
// .sprites 							{background:url(images/sprites.png) no-repeat;}
// .icon 								{width:36px; height:37px;}
a.icon-calendar 			{background-position:-1.5% 11.75%; @extend .sprites; @extend .icon; color:$link;}
a.icon-location 			{background-position:-1.5% 23%; @extend .sprites; @extend .icon; color:$green; margin-left:4%;}
a.icon-user 					{background-position:-1.5% 34%; @extend .sprites; @extend .icon; color:#7f453b;}

/*Department dropdown*/
.deptDropdown 				{margin:0 0 10px 0; padding:0 0 10px 10px; @extend .dotted;}
.deptDropdown h2			{@extend .iwt_section_header; border:none;}
#deptSelector select 	{width:95%;}

/*Left Nav*/
.leftnav 							{padding:10px;}
.leftnav h3 					{font-weight:normal; @extend .underline;}
.leftnav ul 					{margin:0 0 10px 10px;}
#sidebar .leftnav h3:first-child {margin-top:0;}
#sidebar .leftnav ul	{margin:0 0 10px -25px; background:#ddd; padding:10px}
.leftnav li 					{margin:0 0 6px 0; list-style-type:none;}
#col1 .leftnav ul			{margin:0 0 10px 0;}

/*old leftnav*/
.iwt_section {margin:0 0 10px 10px;}
.iwt_section_header {font-size:1.25em; font-weight:normal; @extend .underline;}
.iwt_leftnav li, #popularPages li, #popularSearch li {margin:0 0 6px 0; list-style-type:none;}

/*Right Col
============*/
/*Popular portlets - april 20012*/
#popularPages, #popularSearch {margin:10px;}
#popularPages h2, #popularSearch h2 {@extend .iwt_section_header;}

/*New related - sept 2012*/
.box, #Govdelivery 			{margin:0 2px 10px 0; padding:0.45em; position:relative; overflow:hidden;}
.govdelivery 						{padding-left:10px; @extend .dotted;}
.box.govdelivery h3 		{font-size:1.5em; color:$green;}
.govdelivery p					{margin:0;}
.govdelivery .action 		{padding-top:3px; border:1px solid $green; @include gradient(lighten($green, 15%)/*#D9DECF*/, $green);}
.box.related.govdelivery,
#Govdelivery 						{padding:0.45em; background:#d9decf;}
.govdelivery h3 				{font-size:1.45em;}
.related 								{background:$lightblue; border-radius:3px; box-shadow:2px 8px 10px -5px #aaa;}
// .related:hover          {box-shadow:0 3px 5px #999;}
.related h3,
.box.related.govdelivery h3,
#Govdelivery h3					{margin:0; padding:0; font-size:1.2em;}
.related ul,
#Govdelivery ul	 				{margin:0;}
.related li,
#Govdelivery li	 				{margin:0; padding:3px; background:$offwhite;}

/*Static pages
====================*/
/*Calendar*/
.calendar					{margin:0 1%; font-size:1.1em;}
.calendar h1			{font-size:1.3em;}
#monthDetail 			{@extend #sidebar;}
.calTopic01,
.calTopic02,
.calTopic04 			{padding:0; background:#29527a; border-right:2px solid #f1f1f1; color:#fff;}
.calTopic02 			{background:#A32929;}
.calTopic04 			{background:#0D7813;}
#calFrame					{margin-left:-1%; width:69%; height:500px;}
.calTopicFullScreen 	{display:none;}

/*Contact Directory - nov 2012*/
#contactForm	{margin:20px 10px; padding:10px; background:#fff; border:2px solid #ddd; border-radius:10px; box-shadow:1px 2px 10px #ccc; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)";}
:root #contactForm {@extend .ie9;}
#contactSearchForm li {padding:2px;}
#contactSearchForm input[name=fName]	{margin-left:7.5%;}
#contactSearchForm input[name=lName]	{margin-left:7.7%;}
#contactSearchForm input[type="submit"]:first-child {@extend .action; margin:0 6% 0 20%;}
#contactSearchForm input[type="submit"]:last-child {@extend .removed;}
.resultArea p   {display:none;}
#viewBy 				{float:left;}
.numberResults 	{float:right;}
.paging 				{clear:both; float:right;}
#peopleResults 	{clear:both; width:100%;}
.departmentRow 	{clear:both; background:$link; font-weight:700; font-size:1.2em; color:#fff; padding:0 5px;}
.contactResultsName, .contactResultsTitle, .contactResultsDiv, .contactResultsPhoneNumber {float:left; margin:5px 0 0 0; padding:2px 6px;}
.contactResultsName, .contactResultsPhoneNumber {clear:both;}
.contactResultsPhoneNumber {margin:0 0 10px 0; padding:0 6px; width:98%; border-bottom:1px dotted #ddd;}
#peopleResults a[href^="mailto:"] {padding:1px 20px 1px 0; background:transparent url(../images/icon-email.png) center right no-repeat;}

/*Landing
================
Main Feature
.landingPg 						{position:relative;}
.mFeatureDescTxt 			{width:88%; height:70px; position:absolute; left:5%; bottom:40px; z-index:9; @extend .align-center;}
.mFeatureDescTxt a 		{color:#fff; font-size:1.4em; text-decoration:underline;}
.mFeatureDescTxt a:hover {color:#ddd;}
.mFeatureMainImg 			{margin:1.8%; padding-bottom:71%; width:91%; height:0; border:15px solid #fff; box-shadow:0 3px 10px #999; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)"; border-radius:5px;}
:root .mFeatureMainImg {@extend .ie9;}
.mFeatureMainImg img 	{width:100%;}
.mFeatureDescBlkBg 		{width:91%; height:85px; position:absolute; left:4.5%; bottom:30px; background:#222; opacity:0.6; -ms-filter:"alpha(opacity=60)";}
Feature Table
.twoCol 	{margin:0 2%; border:0; @extend .dotted;}
.twoCol td,
.twoColImage table {border:0;}
.twoColImage img {width:135px;}
.shadow 	{padding:3px; background:#fff; box-shadow:0 3px 5px #999; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)"; border-radius:5px;}
:root .shadow {@extend .ie9;}
.twoColTextNarrow {width:25%; padding:1%;}*/

/*News & Events
================*/
/*News List*/
.mainarticlelinks {float:left; margin:25px 1%; padding:0; width:54%; font-size:1.1em;}
.mainarticlelinks h2, .maineventslinks h2 {float:left; margin-left:5px;}
.mainRss img {margin:0 0 0 10px; display:none;}
.mainRss a	 {@extend .icon-feed; color:$orange; padding:0 5px; font-size:0.8em; text-shadow:1px 1px 1px #ccc;}
.mainRss a:hover {text-decoration:none;}
.newsList li {clear:both; padding:7px 5px; list-style:none; @extend .dotted;}
.malDate {font-size:0.9em; color:#666;}
a.more {float:right; margin:5px 10px; text-decoration:underline;}

/*Events List*/
.maineventslinks {@extend .mainarticlelinks; width:41%;}
.eventsList li {clear:both; padding:5px; list-style:none;}
.message 		{color:$green;}
.eventDate 	{float:left; margin:0 10px 0 0; padding:0; width:16%; background:$offwhite; /*border:2px solid #ddd;*/ text-align:center; font-weight:700; /*letter-spacing:0.2em;*/ border-radius:3px; box-shadow:0 3px 5px #999; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)";}
:root .eventDate {@extend .ie9;}
.eventMonth	{background:#ddd;}
.eventDay 	{font-size:1.3em;}
.eventTitle {display:inline;}
.eventTitle a {margin:0;}
.eventTimes {color:#666; margin:0 0 10px 45px;}

/*News Article*/
.newsAlert 		{margin-right:5px; color:#900; font-weight:700; display:inline;}
.images {float:right; margin:0 0 10px 10px; @extend.outline;}
.images, .images .photoslider-1click-slideshow, .images .photoslider-1click-slideshow img {width:352px; height:264px;}
.eventdates {clear:both; float:left; width:24%;}
.newseventmap {float:left; margin:0 0 0 10px; width:74%; overflow:hidden;}
.storyContentWrapper .newseventmap li, .content .newseventmap li {margin:0; list-style:none;}
.newseventlocation {float:left; width:40%}
.gismap {float:left; margin:0 0 10px 10px; width:46%; height:182px; overflow:hidden; @extend .ie9;}
.addfiles, .newscontacts, .relatedlinks {float:left; width:25%; margin:20px 10px;}
.newscontacts {width:35%;}
.relatedlinks {width:30%;}
.rsssharing {clear:both; margin-top:20px;}
.rsssharing img {vertical-align:middle; width:40px;}

/*News sidebar*/
#sidebar .mainarticlelinks,
#sidebar .maineventslinks {clear:both; float:none; margin:0; width:98%; font-size:1em;}
#sidebar .mainarticlelinks h2,
#sidebar .maineventslinks h2 {float:none; margin:0;}
#sidebar .mainRss {display:none;}
#sidebar .mainarticlelinks ul,
#sidebar .maineventslinks ul {margin:0 5px 0 0;}
#sidebar .mainarticlelinks li,
#sidebar .maineventslinks li {padding:6px 0;}
#sidebar .malDate {display:block;}
#sidebar .more {margin-right:10px;}

/*Home Page Feature*/
.landing 		{text-align:center; font-size:2em;}
// .surveyQuestions {float:left; width:48%; margin:1%;}
// .surveyQuestions .PDS_poll .pds-box {width:100%;}
.videos 		{float:left; width:52%; margin:1%;}
.open 			{float:right; width:40%; margin:1%; padding:1%;}
.council 		{padding-left:10px; @extend .dotted;}
.ecomment 	{background:#3C61A5; color:#fff; padding:0 5px; border-radius:5px;}
label 			{display:block; @extend .quiet;}
iframe 			{padding:1%; background:#fff; border:1px solid #ccc; border-radius:5px; box-shadow:0 3px 5px #999;}

/*Templates
====================*/
/*Boards-Commissions*/
.bcmeetinginfo	{padding:5px; text-align:center; overflow:hidden; border-radius:10px 10px 0 0; @include gradient(#d9cec2, #efefef);}
.bcmeetinginfo > div, .cacmeetinginfo > div, .storyContentWrapper ul.individual, .content ul.individual {float:none; display:inline-block; width:32.5%; vertical-align:top;}
.comm 					{padding-left:15px; background:transparent url(images/sqbullet.png) no-repeat; background-position:-1px 5px;}
.bcimage 				{margin:10px auto; width:515px;}
.bcimage img		{width:515px;}
.members				{overflow:hidden; margin-bottom:20px;}

/*CAC*/
.cacmeetinginfo 	{@extend .bcmeetinginfo; @include gradient(lighten($green, 15%), #eee);}
.cacactivity 			{@extend .outline; @extend .bcimage;}
.cacactivity .photoslider-1click-slideshow {height:0; padding-bottom:60%;}
.cacgismap 				{margin:0 0 0 2%; width:62%; height:256px; overflow:hidden; @extend .ie9;}

/*Contact - Nov 2012*/
.contact					{@extend .callout;}
#col2 .contact		{margin-top:2em; border:2px solid #ccc;}
.contact img.left	{width:43%; margin-left:0;}
.bio							{clear:both;}

/*Employment list*/
#top img							{margin-bottom:-5px;}
.employmentType div[style] {display:none;}
.empJump li a 				{float:left; margin:0 15px 20px 0; text-decoration:underline;}
.employmentType h3 		{clear:both; margin:15px 0 5px;}
.empTitle 						{clear:both; margin:0 10px 3px 0; float:left; display:inline; font-size:1.167em; font-weight:700;}
.empClose,
.empDept,
.empNo,
.empSalary 						{float:left; margin:0 0 15px 10px;}
.empSalary						{clear:both; margin-left:0;}
.empClose							{@extend .quiet; margin:3px 0 0 0;}
.empNone:last-child		{display:none;}
#top:hover, #top:active, .employmentType > a:hover, .employmentType > a:active {text-decoration:none;}

/*Job page*/
.storyContentWrapper .job li, .content .job li {list-style:none; padding:5px;}
.employmentRequirements li,
.employmentDuties li 	{margin-left:20px;list-style-type:disc;}
.employmentDisclaimer {margin-top:20px; color:#666;}

/*Job sidebar - october 2012*/
#sidebar .employmentType {padding:0;}
#sidebar h1 img, #sidebar .empJump, #sidebar .empNo, #sidebar .empSalary, #sidebar .empDept, #sidebar div[style] {display:none;}
#sidebar #top h1	{margin-left:-20px; padding:5px 20px; background:$link; color:#fff; font-size:1.5em; text-shadow:0 -1px $link, 0 1px $link; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
#sidebar #top h1:after {content:" "; background:url(images/ribbon-right.png); display:block; width:10px; height:10px; position:absolute; bottom:0; right:0; margin-bottom:-10px;}
// #sidebar .employmentType h3 {font-size:1.4em;}
#sidebar .empTitle {font-weight:normal; font-size:1.1em;}
#sidebar .empClose {border-bottom:1px dotted #ccc; width:98%; color:#666; margin:0 0 6px 0;}

/*Facility*/
.gismap_iframe 			{float:left; @extend .cacgismap;}
.location 					{float:right; width:31%;}
.facility_hours 		{margin-top:0;}
.facility_hours th 	{background:$lightblue;}
.facility_hours td 	{@extend .align-center;}

/*New 1col - april 2012*/
.outline 						{padding:1%; background:#fff; border:1px solid #ccc; border-radius:5px; box-shadow:0 3px 5px #999; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)"; position:relative;}
:root .outline 			{@extend .ie9;}
.outline a:active		{position:absolute;}
.largeimage					{margin-bottom:10px; width:98%;}
.largeimage .slideshow, .largeimage .photoslider-1click-slideshow, .smallimage .slideshow, .smallimage .photoslider-1click-slideshow  {height:0; padding-bottom:74%;}
.largeimage .photoslider-1click-slideshow img {height:408px;}
.smallimage					{float:left; margin:0 15px 10px 0; width:50%;}
.smallimage .photoslider-1click-slideshow img {height:210px;}
.largeimage img, .smallimage img	{width:100%;}
.lightbox						{position:absolute; top:0; right:0; background:#fff; padding:3px; font-size:0.8em; z-index:10; margin:5px;}
#col2 .smallimage .sliderkit-panel .sliderkit-panel-textbox, #col2 .smallimage .sliderkit-panel .sliderkit-panel-overlay		{padding-bottom:20%;}
.section						{clear:both; margin:1.5em 0;}
.callout						{margin:1em; padding:.5em; background:#fff; border:2px solid #e96629; border-radius:10px; box-shadow:0 3px 5px #999; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)";}
.closed							{@extend .ally;}
:root .callout 			{@extend .ie9;}
.callout img				{max-width:98%;}
.section img				{padding:5px; background:#fff; border:1px solid #ccc; border-radius:5px; box-shadow:0 3px 5px #999; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=130), progid:DXImageTransform.Microsoft.Shadow(color=#999999,strength=3,direction=270)";}
:root .section img {@extend .ie9;}
.section img.left,
.section img.right 	{margin:0 10px 10px;}
.section h3					{@extend .dotted;}
.callout h3					{color:#222; background:#fff; border:0;}
// .accent							{color:#7f453b;}
.section .close			{margin:0; padding:3px 5px; background:#ddd; border:none; border-radius:10px; font-weight:normal; cursor:pointer; box-shadow:-2px 4px 8px #ccc}
.arrow							{margin-right:5px; width:0; height:0; border-top:12px solid #7f453b; border-right:8px dotted transparent; border-bottom:none; border-left:8px solid transparent; display:inline-block; vertical-align:middle;}
// :root .arrow 				{border-right:8px solid transparent;}
.close .arrow				{border-top:8px dotted transparent; border-right:none; border-bottom:8px solid transparent; border-left:12px solid #7f453b;}
// :root .close .arrow {border-top:8px solid transparent;}

/*Ally*/
.ally, .homeicon		{position:absolute; clip:rect(1px 1px 1px 1px);/*IE6/7*/ clip:rect(1px, 1px, 1px, 1px); padding:0; border:0; height:1px; width:1px; overflow:hidden;}
.homeicon						{*position:relative; *height:auto; *width:auto;} /*IE7*/

/*Icons*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before, .mainRss a:before, .coricon, #Nav a[title=Home]:before, #Home, #Lines {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	font-size:2em;
	-webkit-font-smoothing: antialiased;}

.action.right:hover .icon-mail {position:relative; top:-5px; @include transition(top, .25s, ease-in-out);}

.icon-mail:before {content: "\21"; font-size:1.2em; vertical-align:middle; padding-left:3px;}
.icon-location:before {content: "\22";}
.icon-calendar:before {content: "\23";}
.icon-calendar-2:before {content: "\25";}
.icon-facebook:before {content: "\24"; color:#3B5999;}
.icon-twitter:before {content: "\27"; color:#4099FF;}
.icon-feed:before {content: "\28";}
.icon-flickr:before {content: "\29";}
.icon-file-word:before {content: "\2a";}
.icon-file-pdf:before {content: "\2b";}
.icon-file-excel:before {content: "\2c";}
.icon-user:before {content: "\2e";}
.icon-play:before {content: "\2f";}
.icon-lines:before {content: "\34"; vertical-align:middle; font-size:1.5em;}
.icon-new-tab:before {content: "\35";}
.icon-new-tab-2:before {content: "\36";}
.icon-warning:before {content: "\37";}
.icon-play-alt:before {content: "\39";}
.icon-play-2:before {content: "\3a";}
.icon-camera:before {content: "\3b";}
.icon-file-powerpoint:before {content: "\3c";}
.icon-file-zip:before {content: "\3d";}
.icon-home:before {content: "\3e"; line-height:36px; vertical-align:sub;}
.icon-document-alt-fill:before {content:"\43";}
.icon-folder:before {content:"\44";}
.icon-folder-2:before {content:"\45";}
.icon-file-powerpoint:before {content:"\3c";}
.icon-file-zip:before {content:"\3d";}

/*Status - oct 2012*/
.confirm {border:2px solid #657838;}
.warning {border:2px solid #eed45d;}
.error	 {border:2px solid #C5312A;}