/*Main CSS
============*/
/*Generic classes*/
.cf							{overflow:hidden;}
.hidden 				{display:none;}
.left 					{float:left;}
.right 					{float:right;}
.first 					{margin-left:0; padding-left:0;}
.last 					{margin-right:0; padding-right:0; border-right:none;}
.fifth					{width:19%;}
.fourth					{width:24%;}
.third 					{width:33%;} // extend this and get rid of in html
.half 					{width:48%;}
.twothirds			{width:64%;}
.small 					{width:25%;}
.medium					{width:50%;}
.large					{width:78%;}
.full						{width:96%;}
.align-justify	{text-align:justify;}
.align-left			{text-align:left;}
.align-center		{text-align:center;}
.align-right		{text-align:right;}
.fixed					{position:fixed !important; top:0; left:0;}
.notfixed				{position:relative;}
.line, hr 			{clear:both; margin:0.6em 0 1.2em 0; width:100%; height:1px; background:#ddd; border:0;}
.formbox				{padding:0 2%; font-size:1.1em;}
img 						{border:0; max-width:100%;}
.action, .action:visited 	{margin:5%; padding:6px 18px; border:1px solid #666; border-radius:2px; text-shadow:0 1px rgba(0, 0, 0, 0.1); color:#fff; font-size:1.1em; font-weight:700; @include gradient(#B2B2B2, #666665);}
.action:hover 	{border:1px solid #b2b2b2; color:#fff; text-shadow:1px 1px 3px #111; box-shadow:0 1px 1px rgba(0,0,0,0.2); cursor:pointer; text-decoration:none; @include gradient(#666665, #B2B2B2);}
.action:active 	{box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)}
.action img			{display:none;}

/*OOCSS*/
.dotted					{border-bottom:1px dotted #ccc;}
.underline			{border-bottom:1px solid #ccc;}

/*Links*/
.storyContentWrapper a:link, .storyContentWrapper a:visited, .content a:link, .content a:visited, table a:link 	{text-decoration:underline;}
.section .coricon, .coricon {margin:0; padding:0 0 0 2px; border:0; background:none; vertical-align:middle; box-shadow:none;}

/*Pages*/
.storyContentWrapper, .content {margin:0 auto; /*padding-top:30px;*/ min-width:300px; max-width:735px; font-size:1.15em;}
#col3, #sidebar, #Sidebar {font-size:1.05em;}
#Article .storyContentWrapper, #Article .content {padding:0;}
#storyContentWrapper {padding:0 20px;}
#col2 .updatedDate {position:absolute; top:-20px; left:5px; color:#666; font-size:0.9em;}
#Article .updatedDate {margin:10px 0 20px 0; color:#666;}
#addThisButtons	{position:absolute; right:10px; top:-20px;}

#col1Large {position:relative;}
.updated {position:absolute; padding-left:72%; /*right:11%;*/ color:#666;}

.content h1 {background:$link; color:#fff; text-shadow:1px 3px 5px #333; padding:0 1%; border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
#Sidebar h3, #col3 #Govdelivery h3, #popularPages h2, #popularSearch h2 {margin-left:-4%; padding:1% 4%; background:$link; color:#fff; font-size:1.5em; text-shadow:0 -1px $link, 0 1px $link; border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}

/*Left Col
===========*/
/*Global*/
.box.icons 						{margin-right:0; padding:0; @extend .dotted;}
.icons a 							{float:left; margin:1% 0; width:31%; /*line-height:30px;*/ text-align:center; text-shadow:1px 1px 1px #ccc;}
.icons a:hover 				{text-decoration:none;}
a.icon-calendar 			{color:$link; width:35%;}
a.icon-location 			{color:$green; width:28%;}
a.icon-user 					{color:$maroon;}

/*Department dropdown*/
.deptDropdown 				{margin:0 0 10px 0; padding:0 0 10px 0; @extend .dotted;}
#col1 .deptDropdown h2 {@extend .iwt_section_header; border:none;}
#Sidebar .deptDropdown h2	{font-size:1.25em; font-weight:normal; background:none; text-shadow:1px 1px 1px #ccc;}
#deptSelector select 	{width:95%;}

/*Left Nav*/
.leftnav 							{padding:10px;}
.leftnav h3 					{font-weight:normal; @extend .underline;}
.leftnav ul 					{margin:0 0 10px 10px;}
#Sidebar .leftnav h3:first-child {margin-top:0;}
#Sidebar .leftnav ul	{margin:0 0 10px -25px; background:#ddd; padding:10px}
.leftnav li 					{margin:0 0 6px 0; list-style-type:none;}
#col1 .leftnav 				{padding:0;}
#col1 .leftnav ul			{margin:0 0 10px 0;}

/*old leftnav*/
.iwt_section {margin:0 0 10px 10px;}
#col1 .iwt_section {margin:0;}
.iwt_section_header {font-size:1.25em; font-weight:normal; @extend .underline;}
#Sidebar .iwt_section_header {border-radius:0 20px 20px 0; background:$orange; text-shadow:1px 2px 3px #333;}
.iwt_leftnav li, #popularPages li, #popularSearch li {margin:0 0 0.5em 0; list-style-type:none;}

/*Right Col
============*/
/*Popular portlets - april 20012*/
#popularPages, #popularSearch {margin:10px;}
// #popularPages h2, #popularSearch h2 {@extend .iwt_section_header;}

/*New related - sept 2012*/
.box 								{margin:2% 0 4%; padding:0 1% 1%; position:relative; overflow:hidden;}
.related h3  				{margin:0; padding:0 5%; background:$link; color:#fff; text-shadow:1px 3px 5px #333; border-radius:3px 3px 0 0; box-shadow:0 3px 5px #999;}
.related ul	 				{margin:0; background:#89a1cb; padding-bottom:2%; border-radius:0 0 3px 3px; box-shadow:0 3px 5px #999;}
.related li  				{margin:0; padding:2%; background:$offwhite; background:#fdfdfd;}

#Sidebar .related 	{padding-bottom:1%;}
#Sidebar .related ul {background:#fff;}
#Sidebar .related li {background:lighten($link, 50%);}

.govdelivery h3 		{/*font-size:1.1em;*/ background:$green;}
.govdelivery ul	 		{background:#d9decf;}

#Govdelivery 				{padding-left:10px;}
#Govdelivery p			{margin:0;}
#Govdelivery .action {padding-top:3px; border:1px solid $green; @include gradient(lighten($green, 15%), $green);}

// .related 				{background:mix($lightblue, $link); border-radius:3px; box-shadow:2px 8px 10px -5px #aaa;}
// .related:hover   {box-shadow:0 3px 5px #999;}

/*Static pages
====================*/
/*Calendar*/
.calendar					{margin:0 1%; font-size:1.1em;}
.calendar h1			{font-size:1.3em;}
#monthDetail 			{@extend #sidebar;}
.calTopic01,
.calTopic02,
.calTopic04 			{padding:0; background:#29527a; border-right:2px solid #f1f1f1; color:#fff;}
.calTopic02 			{background:#A32929;}
.calTopic04 			{background:#0D7813;}
#calFrame					{margin-left:-1%; width:69%; height:500px;}
.calTopicFullScreen 	{display:none;}

/*Contact Directory - may 2013*/
#contactForm	{margin:20px auto; padding:1%; width:75%; background:#eee; overflow:hidden; border:2px solid #ddd; border-radius:5px; box-shadow:0 2px 3px #999; /*extend outline instead?*/}
#contactSearchForm li {padding:2px;}
#contactSearchForm label {width:20%; display:inline-block;}
#contactSearchForm select {width:120px;}
#contactSearchForm .action {float:right; margin:0 1%;}
.resultArea p   {display:none;}
#viewBy 				{float:left;}
.numberResults 	{float:right;}
.paging 				{clear:both; float:right;}
#peopleResults 	{clear:both; width:100%;}
.departmentRow 	{clear:both; background:$link; font-weight:700; font-size:1.2em; color:#fff; padding:0 5px;}
.contactResultsName, .contactResultsTitle, .contactResultsDiv, .contactResultsPhoneNumber {float:left; margin:5px 0 0 0; padding:2px 6px;}
.contactResultsName, .contactResultsPhoneNumber {clear:both;}
.contactResultsPhoneNumber {margin:0 0 10px 0; padding:0 6px; width:98%; border-bottom:1px dotted #ddd;}
// #peopleResults a[href^="mailto:"] {padding:1px 20px 1px 0; background:transparent url(../images/icon-email.png) center right no-repeat;}

/*News & Events
================*/
/*News List*/
.mainarticlelinks {float:left; margin:25px 1%; padding:0; width:54%; font-size:1.1em;}
.mainarticlelinks h2, .maineventslinks h2 {float:left; margin-left:5px;}
// .mainRss img {margin:0 0 0 10px; display:none;}
.mainRss a	 {@extend .icon-feed; color:$orange; padding:0 5px; font-size:0.5em; text-shadow:1px 1px 1px #ccc;} /* remember rss for news */
.mainRss a:hover {text-decoration:none;}
.newsList li {clear:both; padding:7px 5px; list-style:none; @extend .dotted;}
.malDate {font-size:0.9em; color:#666;}
a.more {float:right; margin:5px 10px; text-decoration:underline;}

/*Events List*/
.maineventslinks {@extend .mainarticlelinks; width:41%;}
.eventsList li {clear:both; padding:5px; list-style:none;}
.message 		{color:$green;}
.eventDate 	{float:left; margin:0 10px 0 0; padding:0; width:16%; background:$offwhite; /*border:2px solid #ddd;*/ text-align:center; font-weight:700; /*letter-spacing:0.2em;*/ border-radius:2px; box-shadow:0 2px 3px #999;}
.eventMonth	{background:#ddd;}
.eventDay 	{font-size:1.3em;}
.eventTitle {display:inline;}
.eventTitle a {margin:0;}
.eventTimes {color:#666; margin:0 0 10px 45px;}

/*News Article*/
.newsAlert 		{margin-right:5px; color:#900; font-weight:700; display:inline;}
.images {float:right; margin:0 0 10px 10px; @extend.outline;}
.images, .images .photoslider-1click-slideshow, .images .photoslider-1click-slideshow img {width:352px; height:264px;}
.eventdates {clear:both; float:left; width:24%;}
.newseventmap {float:left; margin:0 0 0 10px; width:74%; overflow:hidden;}
.storyContentWrapper .newseventmap li, .content .newseventmap li {margin:0; list-style:none;}
.newseventlocation {float:left; width:40%}
.gismap {float:left; margin:0 0 10px 10px; width:46%; height:182px; overflow:hidden;}
.addfiles, .newscontacts, .relatedlinks {float:left; width:25%; margin:20px 10px;}
.newscontacts {width:35%;}
.relatedlinks {width:30%;}
.rsssharing {clear:both; margin-top:20px;}
.rsssharing img {vertical-align:middle; width:40px;}

/*News sidebar*/
#Sidebar .mainarticlelinks,
#Sidebar .maineventslinks, #sidebar .mainarticlelinks,
#Sidebar .maineventslinks, #sidebar .maineventslinks {clear:both; float:none; margin:0; width:100%; font-size:1.05em;}
#Sidebar .mainarticlelinks h2,
#Sidebar .maineventslinks h2 , #sidebar .mainarticlelinks h2,
#Sidebar .maineventslinks h2, #sidebar .maineventslinks h2 {float:none; margin:0; margin-left:-4%; padding:1% 4%; background:$link; color:#fff; font-size:1.5em; text-shadow:0 -1px $link, 0 1px $link; border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
#Sidebar .mainRss, #sidebar .mainRss {display:none;}
#Sidebar .mainarticlelinks ul,
#Sidebar .maineventslinks ul , #sidebar .mainarticlelinks ul,
#Sidebar .maineventslinks ul, #sidebar .maineventslinks ul {margin:0;}
// #Sidebar .mainarticlelinks li, #Sidebar .maineventslinks li , #sidebar .mainarticlelinks li, #Sidebar .maineventslinks li , #sidebar .maineventslinks li {padding:6px 0;}
#Sidebar .malDate, #sidebar .malDate {display:block;}
// #Sidebar .more, #sidebar .more {margin-right:10px;}

/*Home Page Feature*/
.landing 		{text-align:center; font-size:2em; background:$link; color:#fff; text-shadow:1px 3px 5px #333; padding:0 1%; border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
// .surveyQuestions {float:left; width:48%; margin:1%;}
// .surveyQuestions .PDS_poll .pds-box {width:100%;}
.videos 		{float:left; width:52%; margin:1%;}
.open 			{float:right; width:40%; margin:1%; padding:1%;}
.council 		{padding-left:10px; /*@extend .dotted;*/}
// .ecomment 	{background:#3C61A5; color:#fff; padding:0 5px; border-radius:5px;}
label 			{display:block; @extend .quiet;}
iframe 			{padding:1%; background:#fff; border:1px solid #ccc; border-radius:3px; box-shadow:0 2px 3px #999;}

/*Templates
====================*/
/*Boards-Commissions*/
.bcmeetinginfo	{@extend .callout;}
#col2 .bcmeetinginfo {text-align:center; border-radius:5px 5px 0 0; border:2px solid $maroon; border-bottom:10px solid lighten($maroon, 15%);}
.bcmeetinginfo > div, .cacmeetinginfo > div, .storyContentWrapper ul.individual, .content ul.individual {float:none; display:inline-block; width:32.7%; vertical-align:top;}
.bcmeetinginfo h4 {background:$maroon; color:#fff; text-shadow:1px 3px 5px #333; width:105%;}
.comm 					{padding-left:15px; background:transparent url(images/sqbullet.png) no-repeat; background-position:-1px 5px;}
.bcimage 				{margin:10px auto; width:100%;}
.bcimage img		{width:100%;}
.members				{overflow:hidden; margin-bottom:1.5em;}

/*CAC*/
.cacmeetinginfo 	{@extend .bcmeetinginfo;}
#col2 .cacmeetinginfo {@extend .confirm; border-bottom:10px solid lighten($green, 15%);}
.cacmeetinginfo h4 {background:$green; color:#fff; text-shadow:1px 3px 5px #333; width:105%;}
.cacactivity 			{@extend .outline; @extend .bcimage;}
.cacactivity .photoslider-1click-slideshow {height:0; padding-bottom:60%;}
.cacgismap 				{margin:0 0 0 2%; width:62%; height:256px; overflow:hidden;}

/*Contact - Nov 2012*/
.contact					{@extend .callout;}
#col2 .contact		{margin-top:2em; border:2px solid #ccc;}
.contact img.left	{width:43%; margin-left:0;}
.bio							{clear:both;}

/*Employment list*/
#top h1								{background:$link; color:#fff; text-shadow:1px 3px 5px #333; padding:0 1%; border-radius:3px;}
#top img							{margin-bottom:-5px; display:none;}
.employmentType div[style] {display:none;}
.empJump li a 				{float:left; margin:0 15px 20px 0; text-decoration:underline;}
.employmentType h3 		{clear:both; margin:15px 0 5px; padding:3px 5px; border-radius:5px; cursor:pointer; box-shadow:0 1px 4px #999; @include gradient(#ddddde, #cccccd);}
.empTitle 						{clear:both; margin:0 10px 3px 0; float:left; display:inline; font-size:1.167em; font-weight:700;}
.empClose,
.empDept,
.empNo,
.empSalary 						{float:left; margin:0 0 15px 10px;}
.empSalary						{clear:both; margin-left:0;}
.empClose							{@extend .quiet; margin:3px 0 0 0;}
.empNone:last-child		{display:none;}
#top:hover, #top:active, .employmentType > a:hover, .employmentType > a:active {text-decoration:none;}

/*Job page*/
.storyContentWrapper .job li, .content .job li {list-style:none; margin-left:0; padding:5px;}
.employmentRequirements li,
.employmentDuties li 	{margin-left:20px;list-style-type:disc;}
.employmentDisclaimer {margin-top:20px; color:#666;}

/*Job sidebar - october 2012*/
#Sidebar .employmentType, #sidebar .employmentType {padding:0;}
#Sidebar h1 img, #Sidebar .empJump, #Sidebar .empNo, #Sidebar .empSalary, #Sidebar .empDept, #Sidebar .empClose, #Sidebar div[style], #sidebar h1 img, #sidebar .empJump, #sidebar .empNo, #sidebar .empSalary, #sidebar .empDept, #sidebar .empClose, #sidebar div[style] {display:none;}
#Sidebar #top h1, #sidebar #top h1 {margin-left:-4%; padding:5px 20px; background:$link; color:#fff; font-size:1.4em; text-shadow:0 -1px $link, 0 1px $link; box-shadow:2px 2px 0 rgba(0,0,0,0.1); border-radius:0 20px 20px 0;}
#Sidebar #top h1:after, #sidebar #top h1:after, #Sidebar h3:after {content:" "; background:url(images/ribbon-right.png); display:block; width:10px; height:10px; position:absolute; bottom:0; right:0; margin-bottom:-10px;}
// #sidebar .employmentType h3 {font-size:1.4em;}
#Sidebar .empTitle, #sidebar .empTitle {font-weight:normal; font-size:1.1em; border-bottom:1px dotted #ccc; width:98%; margin:0 0 6px 0;}

/*Facility*/
.gismap_iframe 			{float:left; @extend .cacgismap;}
.location 					{float:right; width:31%;}
.facility_hours 		{margin-top:0;}
.facility_hours th 	{background:$lightblue;}
.facility_hours td 	{@extend .align-center;}
.parkmap						{width:100%;}

/*Project*/
.map {background:#aaa; height:175px; text-align:center;}
ul.progress {padding-left:2%;}
ul.progress li {float:left; text-align:center; position:relative; background:#666; color:#fff; display:inline; margin:2%; width:21%; text-shadow:1px 3px 5px #333;}
ul.progress li:before, ul.progress li:after {content:' '; height:0; position:absolute; width:0; border:11px solid transparent; border-left-width:8px; border-right-width:8px; top:0;}
ul.progress li:before {border-top-color:#666; border-bottom-color:#666; border-right-color:#666; right:100%;}
ul.progress li:after {border-left-color:#666; left:100%;}
ul.progress li.first {width:12%;}
ul.progress li.first:before {display:none;}
ul.progress li.last:after {border:none !important;}
ul.progress li.current {background:$link;}
ul.progress li.current:before {border-top-color:$link; border-bottom-color:$link; border-right-color:$link; right:100%;}
ul.progress li.current:after {border-left-color:$link; left:100%;}

/*New 1col - april 2012*/
.outline 						{padding:1% 1% 2%; background:#fff; border:1px solid #ddd; border-radius:3px; box-shadow:0 2px 3px #999; position:relative;}
.outline a:active		{position:absolute;}
.largeimage					{margin-bottom:1em; width:100%;}
.largeimage .slideshow, .largeimage .photoslider-1click-slideshow, .smallimage .slideshow, .smallimage .photoslider-1click-slideshow  {height:0; padding-bottom:80%;}
.largeimage .photoslider-1click-slideshow img {height:408px;}
.smallimage					{float:left; margin:0 2% 1em 0; width:50%;}
.smallimage .photoslider-1click-slideshow img {height:210px;}
.largeimage img, .smallimage img	{width:100%;}
.lightbox						{position:absolute; top:0; right:0; background:#fff; padding:3px; font-size:0.8em; z-index:10; margin:5px;}
#col2 .smallimage .sliderkit-panel .sliderkit-panel-textbox, #col2 .smallimage .sliderkit-panel .sliderkit-panel-overlay		{padding-bottom:20%;}
.section						{clear:both; margin:1.5em 0;}
.callout						{margin:1.5em 0.5em; background:#fff; border:2px solid $orange; border-radius:5px; box-shadow:0 3px 5px #999; overflow:hidden;}
.closed							{@extend .ally;}
.callout img				{max-width:98%;}
.section img				{padding:0.5% 0.5% 1%; background:#fff; border:1px solid #ddd; border-radius:3px; box-shadow:0 2px 3px #999;}
.section img.left,
.section img.right 	{margin:0 10px 10px;}
.section h3					{margin:0; padding:3px 5px; border-radius:5px; box-shadow:0 1px 4px #999; @include gradient(#ddddde, #cccccd);}
.expand							{cursor:pointer;}
.callout h3					{color:#fff; background:$orange; border-radius:0; text-shadow:1px 3px 5px #333;}
.section .close			{font-weight:normal; box-shadow:0 1px 8px #999; @include gradient(#eeeeef, #ddddde);}
.arrow							{margin-right:5px; width:0; height:0; border-top:12px solid $maroon; border-right:8px dotted transparent; border-bottom:none; border-left:8px solid transparent; display:inline-block; vertical-align:middle;}
.close .arrow				{border-top:8px dotted transparent; border-right:none; border-bottom:8px solid transparent; border-left:12px solid $maroon;}
.collapse 					{border:1px solid #ddd; border-radius:0 0 5px 5px; border-top:none; padding:1%; overflow:hidden;}
.callout .collapse 	{border:0;}
.block 							{clear:both;}

/*Ally*/
.ally, .homeicon		{position:absolute; clip:rect(1px 1px 1px 1px);/*IE6/7*/ clip:rect(1px, 1px, 1px, 1px); padding:0; border:0; height:1px; width:1px; overflow:hidden;}
.homeicon						{*position:relative; *height:auto; *width:auto;} /*IE7*/

/*Icons*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before, .mainRss a:before, #Nav a[title=Home]:before, #Home, #Lines, .homeicon, a[href $='.doc']:after, a[href $='.pdf']:after, a[href $='.ppt']:after, a[href $='.xls']:after, a[href $='.zip']:after, a[href ^="mailto:"]:after, a[href^='http:']:after {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	font-size:2em;
	-webkit-font-smoothing: antialiased;}

.action.right:hover .icon-mail {position:relative; top:-5px; @include transition(top, .25s, ease-in-out);}
a[href $='.doc'] {@extend .icon-file-word;}
a[href $='.pdf'], a[href $='.pdf'] :not(img) {@extend .icon-file-pdf;}
a[href $='.ppt'] {@extend .icon-file-powerpoint;}
a[href $='.xls'] {@extend .icon-file-excel;}
a[href $='.zip'] {@extend .icon-file-zip;}
a[href ^="mailto:"] {@extend .icon-mail;}
#col1 a[href^='http:'], #col2 :not(.slider) a[href^='http:'], #col3 a[href^='http:'], #Article a[href^='http:'], #Sidebar a[href^='http:'] {@extend .icon-new-tab;}

.icon-mail:after {content: "\21"; font-size:1.2em; vertical-align:middle; padding-left:3px;}
.icon-location:before {content: "\22";}
.icon-calendar:before {content: "\23";}
.icon-calendar-2:before {content: "\25";}
.icon-facebook:before {content: "\24"; color:#3B5999;}
.icon-twitter:before {content: "\27"; color:#4099FF;}
.icon-feed:before {content: "\28";}
.icon-flickr:before {content: "\29";}
.icon-file-word:after {content: "\2a"; margin-left:0.25em; font-size:1.1em; color:#00178f; background:#fff; border-radius:10px;}
.icon-file-pdf:after {content: "\2b"; margin-left:0.25em; font-size:1.1em; color:#e62828; text-decoration:none; background:#fff; border-radius:10px;}
.icon-file-excel:after {content: "\2c"; margin-left:0.25em; font-size:1.1em; color:#007133;}
.icon-user:before {content: "\2e";}
.icon-play:before {content: "\2f";}
.icon-lines:before {content: "\34"; vertical-align:middle; font-size:1.5em;}
.icon-new-tab:after {content: "\35"; margin-left:0.25em; font-size:1.1em;}
.icon-new-tab-2:before {content: "\36";}
.icon-warning:before {content: "\37";}
.icon-play-alt:before {content: "\39";}
.icon-play-2:before {content: "\3a";}
.icon-camera:before {content: "\3b";}
.icon-file-powerpoint:after {content: "\3c"; margin-left:0.25em; font-size:1.1em; color:#dd5800;}
.icon-file-zip:after {content: "\3d"; margin-left:0.25em; font-size:1.1em; color:#666;}
.icon-home:before {content: "\3e"; line-height:42px; /*vertical-align:sub;*/}
.icon-document-alt-fill:before {content:"\43";}
.icon-folder:before {content:"\44";}
.icon-folder-2:before {content:"\45";}

/*Status - oct 2012*/
.confirm {border:2px solid $green;}
.section.confirm .close, .confirm h3 {background:$green}
.warning {border:2px solid #eed45d;}
.section.warning .close, .warning h3 {background:#eed45d;}
.error	 {border:2px solid #C5312A;}
.section.error .close, .error h3 {background:#C5312A;}
.section.confirm .arrow, .section.warning .arrow, .section.error .arrow	{border-top:12px solid #fff; border-right:8px dotted transparent; border-bottom:none; border-left:8px solid transparent;}
.section.confirm .close .arrow, .section.warning .close .arrow, .section.error .close .arrow {border-top:8px dotted transparent; border-right:none; border-bottom:8px solid transparent; border-left:12px solid #fff;}