/*Main CSS
============*/
body {padding-bottom:15px; background:lighten(#8b9f8e, 15%);}

/*Generic classes*/
.cf							{overflow:hidden;}
.hidden, hr 		{display:none;}
.left 					{float:left;}
.right 					{float:right;}
.first 					{margin-left:0; padding-left:0;}
.last 					{margin-right:0; padding-right:0; border-right:none;}
.fifth					{width:19%;}
.fourth					{width:24%;}
.third 					{width:33%;}
.half 					{width:48%;}
.twothirds			{width:64%;}
.small 					{width:25%;}
.medium					{width:50%;}
.large					{width:78%;}
.full						{width:96%;}
.align-justify	{text-align:justify;}
.align-left			{text-align:left;}
.align-center		{text-align:center;}
.align-right		{text-align:right;}
.line 					{clear:both; margin:0.6em 0 1.2em 0; width:100%; height:1px; background:#ddd;}
.underline			{border-bottom:1px solid #bfbfbf;}
img 						{border:0; max-width:100%;}
h2 img 					{float:left; margin-right:6px; padding-top:4px; vertical-align:middle;}

/*OOCSS*/
.dotted					{border-bottom:1px dotted #ccc;}

/*Links*/
table a:link 	{text-decoration:underline;}
.section .coricon, .coricon {margin:0; padding:0 0 0 2px; border:0; background:none; vertical-align:middle; box-shadow:none;}
.storyContentWrapper a:link, .storyContentWrapper a:visited, .content a:link, .content a:visited {text-decoration:underline;}

/*Pages*/
.landingMainWindow, .storyContentWrapper, .content {background:#eee;}
.storyContentWrapper {width:565px; margin:0 auto; font-size:1.1em; padding-top:30px;}
#Article .storyContentWrapper {width:100%; padding:0;}
#storyContentWrapper {padding:0 20px;}
#col2Large .storyContentWrapper {margin:0; padding:10px; width:auto;}
#col2 .updatedDate {position:absolute; top:3px; left:0; color:#999;}
#Article .updatedDate{margin:10px 0 20px 0; color:#666;}
#addThisButtons	{position:absolute; right:10px; top:3px;}

/*Left Col
===========*/
/*Department dropdown*/
.deptDropdown 				{margin:0 0 10px 0; padding:0 0 10px 10px; @extend .dotted;}
#deptSelector select 	{width:95%; /*border:1px solid #333;*/}

/*Left Nav*/
.leftnav 							{padding:10px;}
.leftnav h3 					{border-bottom:1px solid #ccc;}
.leftnav ul 					{margin:0 0 10px 10px;}
#sidebar .leftnav h3:first-child {margin-top:0;}
#sidebar .leftnav ul	{margin:0 0 10px -25px; background:#ddd; padding:10px}
.leftnav li 					{margin:0 0 6px 0; list-style-type:none;}
#col1 .leftnav ul			{margin:0 0 10px 0;}

/*old leftnav*/
.iwt_section {margin:0 0 10px 10px;}
.iwt_section_header {border-bottom:1px solid #ccc; font-size:1.25em;}
.iwt_leftnav li, #popularPages li, #popularSearch li {margin:0 0 6px 0; list-style-type:none;}

/*Right Col
============*/
/*Survey - removed Nov 2012
.surveyDisplayWrapper 	{clear:both; float:left; margin:1%; padding:1%; width:45%;}
.surveyQuestionGroup 		{margin:10px 0; padding:0;}
.surveyQuestion 				{color:#7f453b; font-weight:700;}
.surveyFields input 		{float:left; clear:both; margin:2px 5px;}
.surveyFieldTitle 			{margin:5px 0;}
.surveyQuestions p 			{clear:both; margin:0 10px 0 0;}
.surveyQuestions p:last-child {margin:0;}*/
.action, .action:visited 	{margin:5%; padding:6px 18px; border:1px solid #666; border-radius:5px; text-shadow:0 1px rgba(0, 0, 0, 0.1); color:#fff; font-size:1.1em; font-weight:700; @include gradient(top, #B2B2B2, #666665);}
.action:hover 						{border:1px solid #b2b2b2; color:#fff; text-shadow:1px 1px 3px #111; box-shadow:0 1px 1px rgba(0,0,0,0.2); cursor:pointer; text-decoration:none; @include gradient(top, #666665, #B2B2B2);}
.action:active 						{box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)}
.action img								{display:none;}

/*Most Popular - removed Nov 2012
#mostPopular li 				{margin:0; padding:2px; background:$green; list-style:none;}
a.ui-accordion-header 	{padding-left:20px; background:url(images/arrows.png) top left no-repeat; background-position:0 0; width:16px; height:16px; font-size:1.2em; font-weight:700; color:#fff;}
#mostPopular li.selected {margin:0; padding-top:5px; background:$link;}
#mostPopular li.selected a.ui-accordion-header {padding-left:20px; background-position:0 -21px; width:16px; height:16px; font-size:1.2em; font-weight:700; color:#fff;}
#mostPopular ul.subMenu {background:$offwhite;}
#mostPopular ul.subMenu li {margin:0; padding:5px; background:$offwhite;}
ul.subMenu li a					{color:$link;}
ul.subMenu li a:hover 	{color:$linkhover;}*/

/*Popular portlets - april 20012*/
#popularPages, #popularSearch {margin:10px;}
#popularPages h2, #popularSearch h2 {@extend .iwt_section_header;}

/*Related info - march 2012
.mRelatedContentWrapper {margin:0 auto; padding:0; width:182px; background:#d7e2f1;}
.mRelatedContentMain 		{margin:0; padding:5px;}
.mRelatedContentMain h2 {font-size:1.4em;}
.mRelatedContent 				{margin:0; padding:0; background:#f1f2f1;}
.mRelatedContent li 		{margin:0; padding:3px;}
.mRelatedTitle 					{margin:0 0 4px 0; padding:2px 0; color:#111; font-weight:700; font-size:1.1em;}*/

/*Related info - march 2012*/
.mRelatedContentMain h2 {display:none;}
.mRelatedContent ul 		{margin:0 2px 10px 0; padding:0.45em; background:$lightblue; border-radius:3px;}
.mRelatedContent li 		{margin:0; padding:3px; background:$offwhite;}
li.mRelatedTitle 				{margin:0; padding:0; color:#111; font-weight:700; font-size:1.2em; background:$lightblue;}

/*New related - sept 2012*/
.box, #Govdelivery 			{margin:0 2px 10px 0; padding:0.45em; position:relative; overflow:hidden;}
.govdelivery 						{padding-left:10px; @extend .dotted;}
.box.govdelivery h3 		{font-size:1.5em; color:$green;}
.govdelivery p					{margin:0;}
.govdelivery .action 		{padding-top:3px; border:1px solid $green; @include gradient(top, lighten($green, 15%)/*#D9DECF*/, $green);}
.box.related.govdelivery,
#Govdelivery 						{background:#d9decf;}
.govdelivery h3 				{font-size:1.45em;}
.related 								{background:$lightblue; border-radius:3px;}
.related h3,
.box.related.govdelivery h3,
#Govdelivery h3					{margin:0; padding:0; font-size:1.2em;}
.related ul,
#Govdelivery ul	 				{margin:0;}
.related li,
#Govdelivery li	 				{margin:0; padding:3px; background:$offwhite;}


/*Static pages
====================*/
/*Calendar*/
.calendar					{margin:0 1%; padding:1%; background:#fff; box-shadow:1px 2px 10px #ccc; border-radius:10px; position:relative;}
.calendar h1			{font-size:1.3em;}
#monthDetail 			{@extend #sidebar;}
.calTopic01, 
.calTopic02, 
.calTopic04 			{padding:0; background:#29527a; border-right:2px solid #f1f1f1; color:#fff;}
.calTopic02 			{background:#A32929;}
.calTopic04 			{background:#0D7813;}
#calFrame					{width:69%; height:500px;}
.calTopicFullScreen 	{display:none;}	

/*Contact Directory - nov 2012*/
#contactForm	{margin:20px 10px; padding:10px; background:#fff; border:2px solid #ddd; border-radius:10px; box-shadow:1px 2px 10px #ccc;}
#contactSearchForm li {padding:2px;}
#contactSearchForm input[name=fName]	{margin-left:7.5%;}
#contactSearchForm input[name=lName]	{margin-left:7.7%;}
#contactSearchForm input[type="submit"]:first-child {@extend .action; margin:0 6% 0 20%;}
#contactSearchForm input[type="submit"]:last-child {@extend .removed;}
.resultArea p   {display:none;}
#viewBy 				{float:left;}
.numberResults 	{float:right;}
.paging 				{clear:both; float:right;}
#peopleResults 	{clear:both; width:100%;}
.departmentRow 	{clear:both; background:$link; font-weight:700; font-size:1.2em; color:#fff; padding:0 5px;}
.contactResultsName, .contactResultsTitle, .contactResultsDiv, .contactResultsPhoneNumber {float:left; margin:5px 0 0 0; padding:2px 6px;}
.contactResultsName, .contactResultsPhoneNumber {clear:both;}
.contactResultsPhoneNumber {margin:0 0 10px 0; padding:0 6px; width:98%; border-bottom:1px dotted #ddd;}
#peopleResults a[href^="mailto:"] {padding:1px 20px 1px 0; background:transparent url(../images/icon-email.png) center right no-repeat;}

/*iFrame*/
label 			{display:block; @extend .quiet;}
iframe 			{border:none;}
.iframeShim {margin:0; padding:0; border:none; background:none; position:absolute; overflow:hidden;}
.interior 	{margin:54px 0 0 3px;}

/*Landing
================*/
.landing {text-align:center; font-size:2em;}
/*Main Feature*/
.landingMainWindow h1 {margin:0; font-size:1.9em; text-align:center;}
.landingPg 						{margin:0 auto; padding:0; width:555px; height:440px; position:relative;}	
.mFeatureMainFrame 		{margin:-20px 0 0 -20px; padding:0; height:200px; z-index:8; position:absolute;}
.mFeatureDescTxt 			{padding:0; width:485px; height:70px; position:absolute; left:35px; bottom:40px; z-index:9; text-align:center;}
.mFeatureDescTxt a 		{color:#fff; font-size:1.5em; text-decoration:underline;}
.mFeatureDescTxt a:hover {color:#ddd;}
.mFeatureMainImg 			{margin:10px;width:505px; height:394px; z-index:6; border:15px solid #fff; box-shadow:0 3px 10px #999; border-radius:5px;}
.mFeatureDescBlkBg 		{padding:0; width:505px; height:85px; position:absolute; left:25px; bottom:30px; vertical-align:top; z-index:7; background:#111; opacity:0.7;}

/*Feature Table*/
.twoCol 	{margin:0 2%; border:0; @extend .dotted;}
.twoCol td,
.twoColImage table {border:0;}
.twoColImage img {width:135px;}
.shadow 	{padding:3px; background:#fff; box-shadow:0 3px 5px #999; border-radius:5px;}
.twoColTextNarrow {width:25%; padding:1%;}

/*News & Events
================*/
/*News List*/
.mainarticlelinks {float:left; margin:25px 1%; padding:0; width:54%;}
.mainarticlelinks h2, .maineventslinks h2 {float:left; margin-left:5px;}
.mainRss img {margin:0 0 0 10px;}
.newsList li {clear:both; padding:7px 5px; list-style:none; @extend .dotted;}
.malDate {font-size:0.9em; color:#666;}
a.more {float:right; margin:5px 10px; text-decoration:underline;}

/*Events List*/
.maineventslinks {@extend .mainarticlelinks; width:42%;}
.eventsList li {clear:both; padding:5px; list-style:none;}
.message 		{color:$green;}
.eventDate 	{float:left; margin:0 10px 0 0; padding:0; width:40px; background:$offwhite; border:2px solid #ddd; text-align:center; font-weight:700; letter-spacing:0.3em; border-radius:2px;}
.eventDay 	{font-size:1.3em;}
.eventTitle {display:inline;}
.eventTitle a {margin:0;}
.eventTimes {color:#666; margin:0 0 10px 55px;}
.eventdatetime 	{margin:1em 0 1.168em;}

/*News Article*/
.newsAlert 		{margin-right:5px; color:#900; font-weight:700; display:inline;}
.images {float:right; margin:0 0 10px 10px; padding:1%; background:#fff; border:1px solid #ddd; border-radius:5px;}
.images, .images .photoslider-1click-slideshow, .images .photoslider-1click-slideshow img 	{width:352px; height:264px;}
.eventdates {clear:both; float:left; width:24%;}
.newseventmap {float:left; margin:0 0 0 10px; width:74%; overflow:hidden;}
.storyContentWrapper .newseventmap li, .content .newseventmap li {margin:0; list-style:none;}
.newseventlocation {float:left; width:40%}
.gismap {float:left; margin:0 0 10px 10px; padding:0; width:57%; height:182px; overflow:hidden;}
.addfiles, .newscontacts, .relatedlinks {float:left; width:25%; margin:20px 10px;}
#storyContentWrapper ul, #storyContentWrapper li {margin:0;}
.newscontacts {width:35%;}
.relatedlinks {width:30%;}
.rsssharing {clear:both; margin-top:20px;}
.rsssharing img {vertical-align:middle;}

/*News sidebar*/
#sidebar .mainarticlelinks, 
#sidebar .maineventslinks {clear:both; float:none; margin:0; width:98%;}
#sidebar .mainarticlelinks h2, 
#sidebar .maineventslinks h2 {float:none; margin:0;}
#sidebar .mainRss {display:none;}
#sidebar .mainarticlelinks ul, 
#sidebar .maineventslinks ul {margin:0 5px 0 0;}
#sidebar .mainarticlelinks li, 
#sidebar .maineventslinks li {padding:6px 0;}
#sidebar .malDate {display:block;}
#sidebar .more {margin-right:10px;}

/*Home Page Feature*/
.surveyQuestions {float:left; width:48%; margin:1%;}
.surveyQuestions .PDS_poll .pds-box {width:100%;}
.videos {float:left; width:52%; margin:1%;}
.open {float:right; width:40%; margin:1%; padding:1%;}
.council {padding-left:10px; @extend .dotted;}
.ecomment {background:#3C61A5; color:#fff; padding:0 5px; border-radius:5px;}

/*Templates
====================*/
/*Boards-Commissions*/
.bcmeetinginfo	{margin:10px 0; padding:5px; text-align:center; overflow:hidden; @include gradient(top, #d9cec2, #f1f2f1);}
.bcmeetinginfo ul, .cacmeetinginfo ul {margin:1em 0 0;}
.underline			{border-bottom:1px solid #bfbfbf;}
.comm 					{padding-left:15px; background:transparent url(images/sqbullet.png) no-repeat; background-position:-1px 5px;}
.bcimage 				{margin:10px auto; padding:5px; width:515px; background:#fff; border:1px solid #ddd; border-radius:5px;}
.bcimage img		{width:515px;}
.bcimage p 			{color:#666; text-align:center; font-weight:700;}
.members				{overflow:hidden; margin-bottom:20px;}
.storyContentWrapper ul.individual, .content ul.individual	{float:left; margin:1em 0 0 0; padding:0; width:33%;}

/*CAC*/
.cacmeetinginfo 	{@extend .bcmeetinginfo; @include gradient(top, #829656, #f1f2f1);}
.cacactivity 			{}
.cacactivity .photoslider-1click-slideshow {height:340px;}
.cacactivity .photoslider-1click-slideshow img 	{width:97%;}
.cacactivity .sliderkit-panel-textbox {left:1.5%; width:97%;}
.cacgismap 				{margin:5px 0 15px 10px; width:356px; height:256px; overflow:hidden;}

/*Contact - Nov 2012*/
.contact					{@extend .callout;}
#col2 .contact		{margin-top:2em; border:2px solid #ccc;}
.contact img.left	{width:43%; margin-left:0;}
.bio							{@extend .rsssharing;}

/*Department*/
.deptBodyTable, .deptBodyTable td {border:0;}
.deptNewsCol, .secBody {padding:10px; width:74%;}

/*Employment list*/
#top img							{margin-bottom:-5px;}
.employmentType div[style] {display:none;}
.empJump li a 				{float:left; margin:0 15px 20px 0; text-decoration:underline;}
.employmentType h3 		{clear:both; margin:15px 0 5px;}
.empTitle 						{clear:both; margin-bottom:5px; font-size:1.167em; font-weight:700;}
.empClose, 
.empDept, 
.empNo, 
.empSalary 						{float:left; margin:0 0 10px 10px;}
.empSalary 						{clear:both;}
.empClose							{@extend .quiet;}
.employmentType > a:hover {text-decoration:none;}

/*Job page*/
.storyContentWrapper .job li, .content .job li {list-style:none; padding:5px;}
.employmentRequirements li, 
.employmentDuties li 	{margin-left:20px;list-style-type:disc;}
.employmentDisclaimer {margin-top:20px; color:#666;}

/*Facility*/
.gismap_iframe 			{float:left; margin:10px 0 0 0; padding:0; width:65%; height:256px; overflow:hidden;}
.location 					{float:right; margin:10px 0 0 -20px; width:31%;}
.facility_hours 		{margin:0 0 10px 0;}
.facility_hours th 	{background:$lightblue;}

/*New 1col - april 2012*/
.outline 						{padding:1%; background:#fff; border:1px solid #ccc; border-radius:5px; box-shadow:0 3px 5px #999; position:relative;}
.outline a:active		{position:absolute;}
.largeimage					{margin-bottom:10px; width:98%;}
.largeimage .slideshow, .largeimage .photoslider-1click-slideshow, .largeimage .photoslider-1click-slideshow img {height:408px;}
.smallimage					{float:left; margin:0 15px 10px 0; width:50%;}
.smallimage .slideshow, .smallimage .photoslider-1click-slideshow, .smallimage .photoslider-1click-slideshow img {height:210px;}
.largeimage img, .smallimage img	{width:100%;}
.lightbox						{position:absolute; top:0; right:0; background:#fff; padding:3px; font-size:0.8em; z-index:10; margin:5px;}
.section						{clear:both; margin:1.5em 0;}
.callout						{margin:1em; padding:.5em; background:#fff; border:2px solid #e96629; border-radius:10px; box-shadow:0 3px 5px #999;}
.callout img				{max-width:98%;}
.section img				{padding:5px; background:#fff; border:1px solid #ccc; border-radius:5px; box-shadow:0 3px 5px #999;}
.section img.left, 
.section img.right 	{margin:0 10px 10px;}
.section h3					{@extend .dotted;}
.callout h3					{border:0;}
.accent							{color:#7f453b;}

/*Old One Column - seperate or remove after
.faqqna 		{@extend .accent;}
.backtotop 	{display:none;}
.tcalDiv 		{margin-bottom:20px;}
.jumper 		{text-decoration:underline; visibility:hidden;}
.tcalLink 	{font-weight:700; text-decoration:underline;}
.tcalImg 		{margin:5px 0;}
.frameWrapper, 
.largeFrameWrapper 	{background:#fff; border:1px solid #aaa; border-radius:5px;}
.frameWrapper 			{float:left; margin:0 15px 0 0; width:290px; overflow:hidden; position:relative;}
.largeFrameWrapper 	{margin:25px 0; width:100%; overflow:hidden; position:relative;}
.frame 							{margin:0; padding:0; border:none; border-spacing:0; border-collapse:collapse;}
.frame td						{border:0;}
tr.middleRow .largeImage, 
tr.middleRow .smallImage {width:515px; padding:8px; background:#fff; text-align:center; height:285px; overflow:hidden;}
tr.middleRow .smallImage {width:252px; height:157px;}
.largeFrameImage 		{max-width:495px; max-height:240px;}
.smallFrameImage 		{max-width:240px; max-height:135px;}
.leftArrowContainer, 
.rightArrowContainer, 
.rightArrowContainerLarge {margin-top:-10px; position:absolute; top:50%; left:2px;}
.rightArrowContainer, 
.rightArrowContainerLarge {left:auto; right:4px;}
.arrow 							{width:20px; height:20px; cursor:pointer;}
#mStoryImgGalDescId {margin:0;}*/

/*Police Homicide
.casedesc, .caseparagraph, .casenumber, .casePhone {width:100%; clear:both;}
.casenumber {margin:0; padding:0; font-size:1.3em; font-weight:700;}
.casePhone 	{float:left; margin:0 0 20px 15px;}
.vic 				{float:left; margin:0 0 7px 0; width:175px; font-size:1.167em;}
.vicImg 		{float:left; width:175px; border:solid 1px #111;}
.vicloc 		{float:left; margin:0 0 20px 0; width:100%;}
.locImg 		{float:left; margin-left:4px; width:333px; border:solid 1px #111;}*/

/*Status - oct 2012*/
.confirm {border:2px solid #657838;}
.warning {border:2px solid #eed45d;}
.error	 {border:2px solid #C5312A;}