@media only screen and (max-width:480px) {
	html {-webkit-text-size-adjust:none;}
	body	{font:87.5%/1.5 Verdana, Geneva, sans-serif;}
	#screenWrapper {width:auto; overflow:hidden; border:0;}
	#header {text-align:center; @include gradient(#5c8fea, #2e5baf);}
	#city_seal img, #fontsizer, #rssLayer, #advSearch, #addThisButtons, #accldeMore, #google_translate_element, .rsssharing, #top img, #col3:before, .empJump {display:none;}
	#searchBoxArea, .eventdates, .newseventlocation, .gismap_iframe {width:100%;}
	#searchInput {width:75%;}
	.cityOfRaleigh {margin-top:10px;}
	#globalNavArea li {width:49%; /*border-right:1px solid #999;*/ border-bottom:1px solid #999;}
	// #globalNavArea li:first-child {float:none; border:0;}
	#globalNavArea li:last-child {border:0;}
	#globalNavArea li:nth-child(even) {border-right:0;}
	// #globalNavArea a[title=Home] {position:absolute; top:5px; left:0;}
	// #globalNavArea a:nth-child(4) {font-size:0.8em;}
	#col1, #col2, #col2Large, #col3, #Article, #sidebar {width:100%; margin:0;}
	#col2 .updatedDate, #col2 .issuedatetime {position:relative; top:0; left:0;}
	.storyContentWrapper, .content {width:95%; padding:0 2.5%;}
	/*.storyContentWrapper > div,*/#right > div, .mainarticlelinks, .maineventslinks, .surveyDisplayWrapper, .videos, .open, .newfooter {clear:both; float:none; margin:1.5%; padding:1.5%; width:94%; display:block;}
	.storyContentWrapper .callout, .content .callout {margin:1%; padding:1%; width:90%;}
	.section img.left, .section img.right, .contact img.left {margin:0;}
	.section img, .images {padding:0; width:100%;}
	.section img.coricon {width:auto;}
	.employmentType {padding-left:0;}
	.empClose, .empNo, .empSalary, .empDept {clear:both; margin:0 0 5px 0;}
	#accldePre {text-align:center;}
	#col2 .slider {height:225px; overflow:hidden;}
	#col2 .newslider-horizontal .sliderkit-panels{height:280px;}
	#monthDetail, #calFrame {clear:both; width:100%;}
	.storyContentWrapper ul.individual, .content ul.individual {width:48%;}
	.images, .cacgismap, .gismap {margin:0;}
	.newfooter ul {clear:both; width:100%; text-align:center;}
	.bow {width:30%;}
	
	/*nav hide*/
	#globalNavArea ul	{clear:both; border-top:1px solid #999;}
	#globalNavArea #lines	{display:block; line-height:20px; padding:5px; float:right; margin:2%;}
	#tabsHeader, #col1 {display:none;}
	
	/*Search*/
	#Search #sidebar {display:none;}
	#Search #Article {clear:both; float:none; margin:1%; padding:1%; width:96%; display:block;}
	.url {word-wrap:break-word;}
	
}