@media only screen and (min-width:95em) {
	.fixedwidth {width:80%; max-width:1220px;}
	#Nav ul {padding-left:150px;}
	#Nav li {width:11%;}
	#Nav li:first-child {width:4.5%;}
	#Nav li:nth-child(5) {width:17%;}
	#Nav li:first-child {border-left:1px solid #515f55;}
	#Nav a 	{padding:0 10px;}
	#Lines, .logo, .icons, .depts h3 {display:none;}
	.utility, .dropdown {display:block;}
	.box.depts {position:absolute; top:96px; z-index:150; margin-left:-28px;}
	.dropdown a, .dropdown a:hover {background:transparent; color:#fff; font-size:1.2em; text-shadow:1px 1px 3px #111; margin:0; padding:8%; width:140px; display:inline-block;}
	.dropdown a:hover {@include gradient($link, lighten($link, 10%));}
	.dropdown .arrow, .dropdown a:hover .arrow {border-top:12px solid #fff;}
	.dropdown li a, .dropdown li a:hover {color:$link; text-shadow:none; margin-bottom:0.25em;}
	.dropdown li a:hover {color:$green;}
	.dropdown.fixed {left:10%; position:fixed;}
	.related .dropdown {@extend .icons; display:block;}
	.related .dropdown a, .related .dropdown a:hover {width:100%; color:$link; margin:2% 0; padding:3%; background:#ececec;  font-size:1em; text-shadow:none;}
	.related .dropdown a:hover {color:$green;}
	.related .dropdown .arrow, .related .dropdown a:hover .arrow {border-top:12px solid $link;}
	.slider, .newslider-horizontal .sliderkit-panels {padding-bottom:60%;}
	.largeimage .photoslider-1click-slideshow img {height:482px;}
	.newslider-horizontal .sliderkit-nav-clip li a {width:15px; height:15px;}
	#col1 {margin:0.5%; padding-top:1.5%; float:left; position:static; width:14%; background:$offwhite; box-shadow:none; border-radius:3px; border:1px solid #ddd;}
	#col1.land {margin:0.5%; width:14%;}
	#col2, #col1.land ~ #col2  {width:60%;}
	#col2Large {width:83%;}
	#col3 {width:25%;}
	.content {max-width:52em;}
	#col1.land ~ #col3 {width:25%;}
	#col1.land ~ #col3 #right > div, #col1.land ~ #col3 #right > div:nth-child(1) {float:none; width:98%;}
	#Footer .logo, #footer .logo {display:block;}
}

@media only screen and (min-width:60em) and (max-width:95em) {
	#col1.land ~ #col3 #right > div:nth-child(1) {width:55%;}
}

@media only screen and (min-width:60em) and (max-width:74em) {
	#Lines span {display:none;}
}

@media only screen and (min-width:60em) and (max-width:64em) {
	#Nav a {padding:0 12px;}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {
	body {background:#eee;}
	#screenWrapper, .wrapper {border:0; box-shadow:none; width:100%;}
	.fixedwidth {width:100%;}
	.sizer {display:none;}
	#Nav li:first-child {width:8%;}
	#Nav li {width:11%;}
	#Nav li:nth-child(5) {width:17%;}
	#Nav a {font-size:1em;}
	#contentArea {border:0;}
}

@media only screen and (min-width:40em) and (max-width:60em) {
	#screenWrapper, .wrapper{width:auto; overflow:hidden; border:0;}
	.fixedwidth {width:100%;}
	#addThisButtons {display:none;}
	#Header {height:80px; background-position:0% 40%; box-shadow:0 3px 5px #aaa;}
	.logo {width:70px;}
	.raleigh {margin-top:10px;}
	#SearchBox {bottom:25px; width:44%;}
	.utility {display:none;}
	#Nav {position:fixed; left:0;}
	#Nav ul {margin-left:15%; width:85%;}
	#Nav li {width:25%; border-left:1px solid #999; text-align:center;}
	#Nav li:first-child {display:none;}
	#Nav li:nth-child(-n+5) {border-bottom:1px solid #999;}
	#Nav li:nth-child(5) {border-right:none; font-size:0.9em;}
	#Nav li:last-child {border-right:1px solid #999;}
	#Nav a {line-height:45px;}
	#col1 {width:20%; top:80px; margin-left:-20%;}
	#col1.docked {top:0;}
	#col1.land ~ #col3 #right > div {float:none; width:100%;}
	#col1.land ~ #col2 {width:70%;}
	#col3 {padding-right:1%;}
	.icons {font-size:0.9em;}
	.videos {width:51%;}
	#right > div {margin:1% 1% 0 0; padding:1%;}
	.accolades, #accolade {padding-bottom:3%;}
	#Sidebar .empClose {display:none;}
	#Home {display:block; position:absolute; height:45px; width:15%; border-bottom:1px solid #999; text-align:center;}
	#Nav #Lines, #Nav #Lines:active {margin-left:2%; margin-top:50px;}
	.copyright {padding-bottom:100px;}
	.newslider-horizontal .sliderkit-nav-clip li a {width:1em;height:1em;}
	.fixed, #Nav {bottom:0; top:auto;}
	#col1.land {float:none; margin-left:-20%; position:fixed;}
	#col1.land.menu {margin-left:0;}
	#col1.land ~ #col3 {margin-right:0%; width:29%;}
	#col1.land ~ #col3 #right > div, #col1.land ~ #col3 #right > div:nth-child(1) {float:none; width:100%%;}
	#Lines.display {display:block;}
	.bcmeetinginfo > div.third, .cacmeetinginfo > div.third, .cacmeetinginfo > div.third, .content ul.individual {display:block; width:100%;}
}

@media only screen and (max-width:54em) {
	#Nav li:nth-child(5) {font-size:0.65em;}
}

@media only screen and (max-width:40em) {
	html {-webkit-text-size-adjust:none;}
	#screenWrapper, .wrapper{width:auto; overflow:hidden; border:0;}
	.fixedwidth {width:100%;}
	// #Header {@include gradient(#5c8fea, #2e5baf);}
	#CitySeal img, .sizer, #Weather, #addThisButtons, #accldeMore, #google_translate_element, .rsssharing, #top img, #col3:before, .empJump, .lightbox, .box.depts .dropdown, .sharing {display:none;}
	#CitySeal {margin-top:-10px;}
	#SearchBox, .eventdates, .location, .caclocation > div, .newscontacts, .relatedlinks, .addfiles, .newseventlocation {width:100%;}
	.newseventlocation li {display:inline;}
	.gismap_iframe, .cacgismap, .gismap {float:none; margin:2%; width:91%;}
	#SearchInput {width:75%;}
	.logo {display:block; position:absolute; right:3%; margin:0; padding:0; width:60px;}
	.raleigh {margin-top:10px; font-size:2.5em;}
	.raleigh:hover{font-size:2.8em;}
	.utility {display:none;}
	#Nav li {width:100%; border-left:1px solid #999; border-bottom:1px solid #999;}
	#Nav li:first-child {display:none;}
	#Nav li:nth-child(odd) {border-right:0;}
	#Nav li:nth-child(5) {font-size:0.75em;}
	.navtext {display:none;}
	#col1 .icons {font-size:0.9em;}
	.depts select {display:block; width:100%;}
	#col2, #col2Large, #col3, #Article, #sidebar, #Sidebar, .newseventmap {width:100%; margin:0;}
	#col2, #col1.land ~ #col2 {width:99%;}

	#col1, #col1.land {width:50%; margin-left:-55%; text-align:center; position:absolute; top:150px; bottom:auto; z-index:150;}
	#col1.land {float:none;}
	#col1.land.menu {margin:0;}
	#col1.docked {top:150px;}

	#col1.land ~ #col3 {margin-right:3%; width:97%;}
	#col1.land ~ #col3 #right > div, #col1.land ~ #col3 #right > div:nth-child(1) {float:none; width:100%;}
	#col2 .updatedDate {position:relative; top:0; left:0;}
	#storyContentWrapper {padding:0;}
	.content ul, .content ol {clear:both;}
	#right > div, .mainarticlelinks, .maineventslinks, #sidebar .mainarticlelinks, #sidebar .maineventslinks, .videos, .open, .council, .half, .content .map, #footer {clear:both; float:none; margin:0.5%; padding:2%; width:99%; display:block;}
	.callout, .content .callout, #col2 .contact {margin:1%; /*padding:1%; width:90%;*/}
	.smallimage, .section .smallimage {float:none; width:100%;}
	.largeimage .photoslider-1click-slideshow img, .smallimage .photoslider-1click-slideshow img {max-height:500px;}
	.content {max-width:40em;}
	.slider .newslider-horizontal .sliderkit-nav-clip li a {width:1em;height:1em;}
	.slider .newslider-horizontal .sliderkit-panels{margin-bottom:6%;}
	.newslider-horizontal .sliderkit-panel-textbox, .newslider-horizontal .sliderkit-panel-overlay {padding-bottom:20%;}
	.slider {margin-bottom:20px;}
	#col2 .sliderkit-news-readmore, #col2 .sliderkit-panel-text {font-size:1em;}
	.slideshow .photoslider-1click-slideshow .sliderkit-panel .sliderkit-panel-textbox {font-size:0.8em;}
	.section img, .images, .bcimage {width:98%;}
	.section img.left, .section img.right {margin:10px 0;}
	.contact img.left {float:right;}
	.section img.coricon {width:auto;}
	.employmentType {padding-left:0;}
	.empClose, .empNo, .empSalary, .empDept {clear:both; margin:0 0 5px 0;}
	.accolades h3, #accldePre {text-align:center;}
	.accolades h2, .accolades h2:hover, #accolade h2, #accolade h2:hover {font-size:2em;}
	.landing {font-size:1.2em;}
	#monthDetail, #calFrame {clear:both; width:100%;}
	.bcmeetinginfo > div.third, .cacmeetinginfo > div.third, .cacmeetinginfo > div.third, .content ul.individual {display:block; width:100%;}
	.content ul.individual {width:48%;}
	.content ul.individual li, .bcmeetinginfo li, .cacmeetinginfo li {margin:0; padding:0;}
	.wrapper .accolades a {margin-bottom:5px;}
	#Footer ul, #footer ul {clear:both; width:100%; text-align:center;}
	.bow {top:5px; left:5px; width:65px;}
	.mainRss {top:12px;}
	.scroll {overflow:hidden;}
	.newsList a.more, .eventsList a.more {display:block;}
	.parkfacts, .parkbullets {display:block; width:100%;}
	.facility_hours {
		table,thead,tbody,tfoot,th,td,tr{display:block}
    tr+tr{margin-top:1em}
   }
   table {overflow:auto;}

  @-webkit-keyframes fill {
		0% {background-position:0% 100%;}
		100% {background-position:100% 0%;}
	}
	@keyframes fill {
		0% {background-position:0% 100%;}
		100% {background-position:100% 0%;}
	}

  ul.progress li {display:block; width:100%; background:#d2dde4; background-image:-webkit-linear-gradient(top, $teal 0%, $teal 50%, #d2dde4 50%, #d2dde4 100%); background-image:linear-gradient(top, $teal 0%, $teal 50%, #d2dde4 50%, #d2dde4 100%); background-size:100% 200%; background-position:0% 100%;}
  ul.progress li.completed, ul.progress li.completed:first-child {margin-left:-2%;}
  ul.progress li:first-child:before, ul.progress li.completed.active {border:0;}
  ul.progress li.completed {width:102%; background-position:100% 0%;}
  ul.progress li.completed.active {margin:0 0 18px -2%;}
  ul.progress li.active.completed:after {border-left:30px solid transparent; border-right:30px solid transparent; border-top:15px solid #82a3ad; top:100%; left:40%;}

	/*nav hide*/
	#Nav ul	{display:none; clear:both; border-top:1px solid #999;  width:50%; float:right; @include transition(display, .15s, cubic-bezier(0,1.12,.39,.98));}
	#Nav #Lines, #Nav #Lines:active	{line-height:20px; padding:5px; margin:8px;}
	#Lines img {display:inline; float:left; vertical-align:middle; display:none;}
	#Nav #Home, #Nav #Home:active	{display:block; line-height:20px; padding:5px; float:right; margin:2%; @extend .icon-home;}
	.icon-home:before {line-height:20px; margin-right:5%; vertical-align:middle;}
	.fixed {position:relative;}
	#Lines.display {display:block;}

	/*Search*/
	#screenWrapper #Search h2, .wrapper #Search h2 {float:none;}
	#Search #search_stats {margin:10px;}
	#Search #sidebar, #Search #Sidebar {display:none;}
	#Search #Article, #Search .main-results {clear:both; float:none; margin:1%; padding:1%; width:96%; display:block;} // add article to gsa template?
	.url {word-wrap:break-word;}

	@-ms-viewport {width:device-width;}
}