/* ----------------------------------------------------

Description:	Styling typography elements
Created:			2.3.2012
LastModified:	2.22.2012 (cwg)

---------------------------------------------------- */

body	{color:#232323; font:75%/1.4 Verdana, Geneva, sans-serif;}


/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {margin:0 0 5px 0; color:#111; font-weight:700; font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;}

h1 							{/*26px*/   font-size:1.8em; margin-bottom:0.5em;}
h2 							{/*20px*/   font-size:1.54em;}
h3 							{/*17px*/ 	font-size:1.31em;;}
h4 							{/*14px*/		font-size:1.075em;}
h5 							{/*13px*/   font-size:1em;}
h6 							{/*12px*/ 	font-size:0.9em;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}


/* Text elements
-------------------------------------------------------------- */
p 							{margin:0 0 1.168em 0; padding:0; line-height:1.5;}

blockquote 			{margin:1.5em;color:#777;font-style:italic;}
strong 					{font-weight:700;}
em 							{font-style:italic;}


/* Lists
--------------------------------------------------------------
li ul, li ol 		{margin:0 1.5em; line-height:.875em}
li ul li 				{line-height:1.125em;}
ul							{list-style-type:none;}
ul.list 				{list-style-type:disc;}
ul.simple li		{margin:0;padding:0;display:inline;}
ol 							{list-style-type:decimal;}*/


ul, ol 	{margin:0 0 10px 0; padding:0;}
ul li 	{margin:0; padding:0; list-style:none;}
.storyContentWrapper {
	ul, ol 			{margin-left:1em;}
	li 					{margin-left:1em; list-style-position:inside;}
	ul li 			{list-style-type:disc;}
	ol li 			{list-style-type:decimal;}
	ul li ul li {list-style-type:circle;}
	ul li ul li ul li {list-style-type:decimal;}
	ol li ol li {list-style-type:lower-alpha;}
	.nolist 		{margin:1em 0 0 0;}
	.nolist li 	{list-style:none; padding:0 3px;}
	.jumplist 	{margin-bottom:15px;}
}


/* Tables
-------------------------------------------------------------- */
// caption 					{background:transparent; font-size:1.25em; font-weight:700;}
table 						{margin:1.25em 0 1.5em 0; width:100%; border-collapse:collapse; border:1px solid #ccc;}
table[border="0"], table[border="0"] td {border:0;}
table td					{border:1px solid #ccc;}

// table th 					{padding:4px 10px 4px 5px; background:#efefef repeat-x; color:#666; font-weight:normal; text-align:center;}
// table td 					{padding:4px 10px 4px 5px; color:#777;}
// tr:nth-child(even){background:#fff;}
// tr:nth-child(odd) {background:#eee;}
// .none							{border:0;}
// tfoot 						{font-style:italic;}

/* Messaging
--------------------------------------------------------------
.small 				{margin-bottom:1.875em; font-size:.8em; line-height:1.875em;}
.large 				{margin-bottom:1.25em; font-size:1.2em; line-height:2.5em;}*/
.quiet				{color:#666;}
.loud 				{color:#000;}
.highlight 		{background:#ffc;}
.added 				{background:#060; color:#fff;}
.removed 			{color:#900;}
.announce 		{margin:10px; padding:0 5px 5px 5px; background:#d5dff2; border:3px solid #c28176; border-radius:10px;
  img {float:left; margin-bottom:10px; width:90px; height:90px;}
  h2 	{margin:5px 0 5px 90px;}
}