// Variables
$link:#3c61a5;
$linkhover:#657838;
$green:#657838;
$orange:#ee6d2b;
$offwhite:#f7f7f7;
$lightblue:#d7e2f1;

@mixin gradient ($start:#ffffff, $stop:#ffffff) {
	background:mix($start, $stop);
	// background-image:-webkit-gradient(linear, top, bottom, from($start), to($stop));
	background-image:linear-gradient(to bottom, $start, $stop);
}

@mixin transition ($property, $time, $method) {
	        transition:$property $time $method;
}