.cityOfRaleigh {filter:progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#333333);}
.newslider-horizontal {border:1px solid #ccc;}
.mFeatureMainImg {outline:1px solid #ccc;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {zoom:1;}
.photoslider-1click-slideshow .sliderkit-panel .sliderkit-panel-overlay {filter:alpha(opacity=60);}
.newslider-horizontal .sliderkit-panel .sliderkit-panel-overlay {filter:alpha(opacity=60);}
.mFeatureDescBlkBg {filter:alpha(opacity=60);}
.bcmeetinginfo > div, .cacmeetinginfo > div, .storyContentWrapper ul.individual, .content ul.individual {zoom:1; *display:inline;}