#contentArea, #Main {padding:0.5em; overflow:hidden; @extend .fixedwidth; background:#fff;
	@include bp(desktop) {padding:1.5em 0;} }

#col1 						{width:50%; margin:0; position:fixed; top:0; left:-50%; bottom:0; z-index:150; background:#555; border:0;
	@include bp(tablet) {width:25%; left:-25%;}
	@include bp(desktop) {width:190px; margin-left:-200px; padding:1%; font-size:0.8em; overflow-y:auto; position:fixed; top:140px; right:0; bottom:0; left:0; z-index:50; background:$offwhite; border-radius:3px; border:1px solid #ddd; transition:margin-left .15s cubic-bezier(0,1.12,.39,.98);} 
	@include bp(wide) {margin:0 1% 0 0; padding:0; float:left; position:static; width:14%; background:transparent; box-shadow:none; border:0; border-radius:3px; font-size:0.85em;} }

#col1.menu				{margin:0; transition:margin-left .15s cubic-bezier(0,1.12,.39,.98);}
#col1.docked 			{top:35px;}

#col1.land				{width:50%; margin:0; position:fixed; top:0; left:-50%; bottom:0; z-index:150; background:#555; border:0;
	@include bp(tablet) {width:25%; left:-25%;}
	@include bp(desktop) {margin:0 1.5%; width:19%; float:left; position:static; background:transparent;} 
	@include bp(wide) {margin:0.5%; width:14%;} }

#col1 a, #col1.land a {color:#ddd;
	@include bp(desktop) {color:$link;} }

#col2 		{width:99%; margin:0;
	@include bp(tablet) {}
	@include bp(desktop) {float:left; position:relative; margin:0; width:70%;}
	@include bp(wide) {width:60%;} }
#col3 		{width:100%; margin:0; clear:both;
	@include bp(tablet) {padding:1em 1% 0 0;}
	@include bp(desktop) {clear:none; float:right; width:30%; padding:0 0 0 1%;} 
	@include bp(wide) {width:25%;} }

#col3 .box {
	@include bp(desktop) {-webkit-animation:slidein 0.75s; animation:slidein 0.75s;} }
#col3 .box:nth-child(2) {
	@include bp(desktop) {-webkit-animation-delay:0.25s; animation-delay:0.25s;} }
#col3 .box:nth-child(3) {
	@include bp(desktop) {-webkit-animation-delay:0.5s; animation-delay:0.5s;} }

#col1.land ~ #col2 {width:99%;
	@include bp(desktop) {width:78%;} 
	@include bp(wide) {width:60%;} }
#col1.land ~ #col3 {
	@include bp(desktop) {width:78%;} 
	@include bp(wide) {width:25%;} }
#col1.land ~ #col3 #right > div {width:100%;
	@include bp(tablet) {display:inline-block; width:48.25%; vertical-align:top;}
	@include bp(wide) {display:block; width:98%;}
	/*@include bp(desktop) {float:left; width:39%;} }
#col1.land ~ #col3 #right > div:nth-child(1) {float:none; width:100%;
	@include bp(tablet) {display:inline-block; width:49%; vertical-align:top;}*/ }


#Article 	{width:100%; margin:0;
	@include bp(desktop) {float:left; margin:0 0 0 1%; padding:1%; width:70%; min-height:540px; position:relative;} }
#Sidebar 	{width:100%; margin:0;
	@include bp(desktop) {float:left; width:29%; padding:0.5% 0 0 1%;} }

/*@media only screen and (min-width:60em) and (max-width:95em) {
	#col1.land ~ #col3 #right > div:nth-child(1) {width:58%;}
}*/
@media only screen and (min-width:90em) {
	.dropdown, #Footer .logo {display:block;}
	.box.depts {position:absolute; top:96px; z-index:150;}
	.dropdown > a, .dropdown > a:hover {border:0; border-radius:0;}
	.dropdown a, .dropdown a:hover {background:transparent; color:#fff; font-size:1.1em; text-shadow:1px 1px 3px #111; margin:0; padding:6.5%; width:151px; display:inline-block;}
	.dropdown a:hover {@include gradient($link, lighten($link, 10%));}
	.dropdown .arrow, .dropdown a:hover .arrow {margin:5%; border-color:#fff transparent transparent transparent;}
	.dropdown ul:after {left:117px;}
	.dropdown li a, .dropdown li a:hover {color:$link; text-shadow:none; margin-bottom:0.25em;}
	.dropdown li a:hover {color:$green;}
	.depts.fixed {position:fixed; top:0; left:inherit;}
	.related .dropdown {/*@extend .icons;*/ display:block;}
	.related .dropdown a, .related .dropdown a:hover {width:100%; color:$link; margin:2% 0; padding:3%; background:#ececec; font-size:1em; text-shadow:none;}
	.related .dropdown a:hover {color:$green;}
	.related .dropdown a:hover .arrow {margin:1%;}
	#col2Large {float:left; width:83%;}
	#col2Large #col2 {width:75%;}
}

@media only screen and (min-width:40em) and (max-width:60em) {
	#col1.docked {top:0;}
	.depts.fixed {position:static;}
	// #right > div {margin:1% 1% 0 0; padding:1%;}
	// #col1.land.menu {margin-left:0;}
	#col2Large, .newseventmap {width:100%; margin:0;}
}

@media only screen and (max-width:40em) {
	#col1 .icons {font-size:0.9em;}
	#col2Large, .newseventmap {width:100%; margin:0;}
	#col1.land {float:none;}
	#col1.land.menu {margin:0;}
	#col1.docked {top:150px;}
	#col2 .updatedDate {position:relative; top:0; left:0;}
}