/* Footer elements.
-------------------------------------------------------------- */
/*Accolades*/
.box.accolades 		{margin:0; padding:1em; font-size:0.9em; text-align:center; background:$teal;}
.accolades h3, #Footer h3 {color:#ddd; text-shadow:1px 1px 1px #333;}
.accolades h2		 	{color:#fff; text-shadow:1px 1px 3px #111;}
.accolades a			{margin:0; font-size:0.9em; @extend .action;}

/*Footer*/
#Footer 					{margin:0 auto; padding:1em; text-align:center; font-size:0.85em; color:#fff; background:#444;}
#Footer > div 		{@extend .fixedwidth;}
#Footer ul 				{width:100%;
	@include bp(tablet) {width:24%;} }
#Footer .logo 		{margin:0 auto;}
#Footer a, .copyright a {color:#fff;}
#Footer ul.legal	{clear:both; width:auto;}
.legal li 				{margin:1em;
	@include bp(tablet) {display:inline;} }
#google_translate_element {margin:1em 0;}
#google_translate_element a {color:#333;}
.bow 							{border-radius:3px; box-shadow:0 1px 2px #666; opacity:0.9; vertical-align:middle; width:65px;
	@include bp(tablet) {width:110px;} }
.copyright 				{background:#333; color:#fff; text-align:center; font-size:0.75em; margin-bottom:0; padding-bottom:1em;
	@include bp(tablet) {padding-bottom:100px;}
	@include bp(desktop) {padding-bottom:1em;} }
.copyright a 			{display:none;
	@include bp(tablet) {display:inline;} }