/* Footer elements.
-------------------------------------------------------------- */
/*Accolades*/
.box.accolades 		{margin:0; font-size:0.9em; border-bottom:1px solid lighten(#80aeb5, 20%); border-top:1px solid lighten(#80aeb5, 20%); text-align:center; position:relative; box-shadow:0 2px 3px #999; @include gradient(darken(#80aeb5, 5%), darken(#80aeb5, 15%));
	@include bp(tablet) {padding:1%;} }
.accolades h3     {color:#ddd; text-shadow:1px 1px 1px #333;}
.accolades h2		 	{position:relative; color:#fff; text-shadow:1px 1px 3px #111;}
.accolades a			{text-decoration:none; @extend .action;}
.wrapper .accolades a {margin:0; font-size:0.9em; float:none;}

/*Footer*/
#Footer 					{margin:0 auto; padding:1%; text-align:center; font-size:0.85em; color:#fff; position:relative; @include gradient(#222223, #555556);}
#Footer .logo 		{margin-left:40%;}
#Footer h3			 	{color:#ccc; text-shadow:1px 1px 1px #333;}
#Footer a, .copyright a {color:#fff;}
.socialmedia 			{width:185px; margin:0 auto;}
#Footer .socialmedia a:hover {text-decoration:none;}
// .socialmedia img 	{float:left; margin-right:5px; border-radius:20px; box-shadow:0 1px 2px #666;}
.bow 							{border-radius:3px; box-shadow:0 1px 2px #666; width:110px; opacity:0.9; vertical-align:middle;}
.legal						{clear:both; margin-bottom:0; /*padding-bottom:20px;*/}
.legal li 				{display:inline; margin:0 10px;}
#google_translate_element {margin-top:15px; /*position:absolute; right:1%; top:0;*/}
#Footer .goog-te-gadget 	{font-size:0;}
.goog-te-gadget span {display:none;}
.copyright 				{background:#333; color:#fff; text-align:center; font-size:0.8em; margin-bottom:0; padding-bottom:1em;}

@media only screen and (min-width:95em) {
	.dropdown, #Footer .logo {display:block;}
}

@media only screen and (min-width:40em) and (max-width:60em) {
	.copyright {padding-bottom:100px;}
}

@media only screen and (max-width:40em) {
	// .accolades h3, #accldePre {text-align:center;}
	// .accolades h2, .accolades h2:hover, #accolade h2, #accolade h2:hover {font-size:2em;}
	// .wrapper .accolades a {margin-bottom:5px;}
	#Footer ul {clear:both; width:100%; text-align:center;}
	.bow {top:5px; left:5px; width:65px;}
	#google_translate_element, .rsssharing, #col3:before, .box.depts .dropdown, .sharing {display:none;}
}