/* Header elements.
-------------------------------------------------------------- */
#navigation					{font-size:0.9em; background:#5784d5; /*check color for active tabs*/
	@include bp(tablet) {/*@include gradient(#5c8fea, #537ac1); height:auto; for smooth fixed nav */}
	@include bp(desktop){height:141px;} }
.ie9 #navigation 		{font-size:0.85em;} //for large ie9 home icon

#Header 						{overflow:hidden; position:relative; text-align:center; @extend .fixedwidth;
	@include bp(tablet) {height:95px; background:url(images/Skyline1.png) no-repeat; background-position:20%; /*background-size:100%;*/ text-align:left;}
	@include bp(wide){background-position:40%; background-repeat:no-repeat; box-shadow:none;} }

// #Header a:hover			{border:0;}

// #CitySeal						{width:45%; cursor:pointer;}
.logo 							{vertical-align:middle; cursor:pointer; -webkit-filter:drop-shadow(1px 1px 5px #333); filter:drop-shadow(1px 1px 5px #333);
	@include bp(tablet) {width:70px;} }
#Header .logo				{display:none; position:absolute; right:3%; margin:0; padding:0; width:60px;
	@include bp(tablet) {display:inline; position:static; width:85px; margin:0.25em 0 0 1em;}
	@include bp(desktop) {margin:0;}
	@include bp(wide) {display:none;} } // relook at why there are absolute defaults here
.raleigh 						{font-size:2em; padding-left:0.25em; color:#fff; display:inline; vertical-align:middle; text-shadow:1px 1px 3px #111; font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", serif; transition:all, .5s, ease-in-out;
	@include bp(desktop) {font-size:2.2em;}
	@include bp(wide) {display:block; padding-top:0.5em;} }
.raleigh:hover			{cursor:pointer;
	-webkit-transform: scale(1.25) translate(0.5em);
			-ms-transform: scale(1.25) translate(0.5em);
  				transform: scale(1.25) translate(0.5em);
  @include bp(wide) {-webkit-transform: scale(1.25) translate(3.75em);
			-ms-transform: scale(1.25) translate(3.75em);
  				transform: scale(1.25) translate(3.75em);} }
  				// check to see if this can keep state after 1s on hover rather than revert

#SearchBox/*, #Glass*/ 		{/*visibility:hidden;*/ position:fixed; overflow:hidden; /*top:85px; right:9%;*/ width:0; -webkit-transform:translate(0.75em, 0.75em); -ms-transform:translate(0.75em, 0.75em); transform:translate(0.75em, 0.75em); transition:all, .4s, ease-in-out; 
	@include bp(tablet) {position:static; float:right; width:40%; -webkit-transform:translate(0, -4em); -ms-transform:translate(0, -4em); transform:translate(0, -4em);}
	@include bp(desktop) {width:29%; /*-webkit-transform:translate(40em, -3.75em); -ms-transform:translate(40em, -3.75em); transform:translate(40em, -3.75em);*/}
	@include bp(wide) {width:24%; -webkit-transform:translate(0, -3em); -ms-transform:translate(0, -3em); transform:translate(0, -3em);} }
#SearchBox.visible {width:95%; z-index:200;}
#SearchBox label    {@extend .ally;}
#SearchInput 				{margin:0; padding:0.25em; width:79%; vertical-align:middle; border:1px solid #ddd; border-bottom:1px solid #aaa; border-radius:2px 0 0 2px; font:bold 1.25em 'lucida sans', 'trebuchet MS', 'Tahoma'; @include transition(box-shadow, .3s, ease-in-out);}
#SearchInput:focus	{box-shadow:0 0 5px rgba(81, 203, 238, 1);}
#SearchInput::-webkit-input-placeholder, #SearchInput::-moz-placeholder, #SearchInput:-ms-input-placeholder {font-weight:normal;}
#SearchBox .action 	{margin:0 0 0 -0.25em; padding:0.5em; width:20%; vertical-align:middle; font-size:1em; font-weight:300; border-radius:0 3px 3px 0; overflow:visible; position:relative; cursor:pointer; border:1px solid #666; text-shadow:1px 1px 3px #111; /*@extend .icon-search;*/}
#Search .action			{@include gradient(#DD4B39, darken(#DD4B39, 15%));}
.ie8 .icon-search:before {content:"Search";}

.utility {display:none;}