/* Main navigation elements.
-------------------------------------------------------------- */
#Nav 						{float:left; width:100%; z-index:100; box-shadow:0 1px 2px #777; @include transition(all, .5s, linear); background:#333; text-align:center;
	@include bp(tablet) {@include gradient(#555554, #111112); position:fixed; left:0; border:0;} }
#Nav ul					{display:none; margin:0; clear:both; border-top:1px solid #999; width:100%; transition:display, .15s, cubic-bezier(0,1.12,.39,.98); @extend .fixedwidth;
	@include bp(tablet) {display:inline-block; width:85%;}
	@include bp(desktop) {border:0; float:none; margin:0 auto; width:80%;} 
	@include bp(wide) {display:block; float:none; padding-left:75px;} }
#Nav ul.visible	{display:block;}
#Nav li 				{border-bottom:1px solid #999; text-align:center;
	@include bp(tablet) {float:left; width:25%;}
	@include bp(desktop) {width:auto; border:0; @include transition(background, .2s, ease-in-out);} }
#Nav li:first-child {display:none;
	@include bp(desktop) {display:inline-block;} }
#Nav li:first-child a {
	@include bp(desktop) {padding:0.25em;} }
#Nav li:nth-child(5) {font-size:0.75em;
	@include bp(tablet) {border-right:none; font-size:1em;}
	@include bp(desktop) {/*width:17%;*/} }
// #Nav li:nth-child(2), #Nav li:nth-child(3), #Nav li:nth-child(8), #Nav li:nth-child(9) {width:10%;}
.current 				{@include gradient($link, lighten($link, 10%));}
#Nav a 					{color:#fff; text-shadow:1px 1px 3px #111; text-decoration:none;}
#Nav li a 			{padding:1.1em 0.75em; display:inline-block;}
#Nav a:hover		{border:0;}
#Nav li:hover		{font-weight:normal; color:#fff; @include gradient($link, lighten($link, 10%));}
.current a:hover, .current:hover a {color:#fff;}
#Nav li:first-child {border-left:none;}
@media only screen and (min-width:1em) {
	#Nav li:first-child > a:before {content: "\e608"; line-height:42px; font-size:1.5em; vertical-align:sub;}
}

#Nav #Lines, #Nav #Lines:active	{float:left; margin:2%; line-height:30px; font-size:1.1em; padding:0 1%; font-weight:normal; position:absolute; top:0; left:0;}
#Nav #Lines:hover {border:1px solid #666;}
#Lines.display {}
#Home	{@extend .icon-home; font-weight:700; display:block; margin:1em;
	@include bp(desktop) {display:none;} }
#Glass {@extend .icon-search; font-weight:700; line-height:20px; padding:5px; float:right; vertical-align:baseline; margin:1.5%; font-size:1.5em; cursor:pointer; position:absolute; top:0; right:0;
	@include bp(tablet) {display:none;} }
#Glass.hidden {display:none;}


@-webkit-keyframes slidein {
	0% {-webkit-transform:translateX(110%); transform:translateX(110%);}
	100% {-webkit-transform:translateX(0%); transform:translateX(0%);}
}
@keyframes slidein {
	0% {-webkit-transform:translateX(110%); transform:translateX(110%);}
	100% {-webkit-transform:translateX(0%); transform:translateX(0%);}
}

@media only screen and (min-width:60em) and (max-width:74em) {
	#Lines span {display:none;}
}
@media only screen and (min-width:60em) and (max-width:64em) {
	#Nav a {padding:0 12px;}
}

@media only screen and (min-width:95em) {
	#Nav a 	{padding:0 10px;}
	#Lines, .logo, .icons, .depts h3 {display:none;}
}

@media only screen and (min-width:40em) and (max-width:60em) {
	#Nav li:nth-child(-n+5) {border-bottom:1px solid #999;}
	#Nav a {line-height:45px;}
	#Home {display:block; position:absolute; height:45px; width:15%; border-bottom:1px solid #999; text-align:center;}
	#Nav #Lines, #Nav #Lines:active {margin-left:2%; margin-top:50px;}
}

@media only screen and (max-width:40em) {
	// #Nav #Lines, #Nav #Lines:active	{line-height:20px; padding:5px;}
	#Lines img {display:inline; float:left; vertical-align:middle; display:none;}
	.icon-home:before {line-height:20px; margin-right:5%; vertical-align:middle;}
	.fixed {position:relative;}

	#Nav ul.visible {position:fixed; top:0;  left:-50%; background:#555; z-index:100; height:100%;}
	#Nav li {border:0; border-bottom:1px solid #ddd; text-align:left;}
	#Nav li a {padding:5%;}

	#col1, #col1.land {position:static; width:auto; margin:0; padding:0; float:none;}

	.depts {position:absolute; width:45%; left:-50%; top:550px; margin-left:2.5%}
	.depts h3 {display:none;}
	.icons {font-size:1em; position:absolute; width:50%; left:-50%; top:355px;}
	.icons a {background:transparent; border-radius:0; color:#fff; text-shadow:1px 1px 3px #333;}
	.leftnav {position:fixed; left:-50%; top:50px; background:#fff; width:50%; height:100%; padding:1%; z-index:200;}
}