@keyframes fill {
	0% {background-position:100% 0%;}
	100% {background-position:0% 100%;}
}

label.project {margin-right:5px; display:inline-block; width:50px;}

ul.progress {padding-left:1%; overflow:hidden;}
ul.progress li {float:left; text-align:center; position:relative; background:#d2dde4; background-image:linear-gradient(to right, $projteal 0, $projteal 50%, #d2dde4 50%, #d2dde4 100%); background-size:200% 100%; background-position-x:100%; background-position-y:0; background-position:100% 0; display:inline; margin:0; padding:6px; width:23%; transition:all 1s ease-in;}

ul.progress li:first-child:before, ul.progress li.active ~ li:before {content:' '; position:absolute; top:0; right:100%; height:0; width:0; border:18px solid transparent; border-top-color:$projteal; border-right:8px solid $projteal; border-bottom-color:$projteal; border-left-width:8px; transition:all, 1s, ease-in;}
ul.progress li.active ~ li:before {border-top-color:#d2dde4; border-right:8px solid #d2dde4; border-bottom-color:#d2dde4;}
ul.progress li:last-child:after, ul.progress li.completed:after {content:' '; position:absolute; top:0; left:100%; height:0; width:0; border:18px solid transparent; border-right-width:8px; border-left:8px solid #d2dde4; transition:all 1s ease-in;}
ul.progress li.completed:after {border-left:8px solid $projteal;}

ul.progress li.completed:first-child {margin-left:2%;}
ul.progress li.completed {background-position-x:0%; background-position-y:100%; background-position:0% 100%; background:$projteal; color:#fff;}
ul.progress li.completed {-webkit-animation:fill 1s linear; animation:fill 1s linear;}

ul.progress li.completed.active {margin-right:4%; text-shadow:1px 3px 5px #333; font-weight:700;}

@media only screen and (max-width:40em) {
	@-webkit-keyframes fill {
		0% {background-position:0 100%;}
		100% {background-position:100% 0;}
	}
	@keyframes fill {
		0% {background-position:0 100%;}
		100% {background-position:100% 0;}
	}

  ul.progress li {display:block; width:100%; background:#d2dde4; background-image:linear-gradient(top, $projteal 0, $projteal 50%, #d2dde4 50%, #d2dde4 100%); background-size:100% 200%; background-position:0% 100%;}
  ul.progress li.completed, ul.progress li.completed:first-child {margin-left:-2%;}
  ul.progress li:first-child:before, ul.progress li.completed.active {border:0;}
  ul.progress li.completed {width:102%; background-position:100% 0;}
  ul.progress li.completed.active {margin:0 0 18px -2%;}
  ul.progress li.active.completed:after {border-left:30px solid transparent; border-right:30px solid transparent; border-top:15px solid #82a3ad; top:100%; left:40%;}
}