.bclogo					{float:right; border-radius:3px; border:1px solid #ddd; position:relative; right:-2px;}
.org 						{@extend .confirm;}
.org ul, .content ul.individual	{text-align:center; float:none; margin-right:-4px; margin-bottom:1em; padding:0; width:33.2%; @extend %inlineblock;}
.org ul:nth-child(1) li:first-child {padding:0;}
.org h4					{background:$green; color:#fff; text-shadow:1px 3px 5px #333; width:105%;}
.cacgismap, .gismap_iframe {float:left; margin:0 0 0 2%; width:62%; height:256px; overflow:hidden;}

.bio							{clear:both;}
.job .icon-location {font-size:0.7em;}

/*Status - oct 2012*/
.confirm {@extend .callout; border:2px solid #42a35a;}
.section.confirm .close, .confirm h3, .section.confirm:hover h3 {background:#42a35a; border:0; font-weight:normal;}
.warning {@extend .callout; border:2px solid #f6b83f;}
.section.warning .close, .warning h3, .section.warning:hover h3 {background:#f6b83f; border:0; font-weight:normal;}
.error	 {@extend .callout; border:2px solid #c0392b;}
.section.error .close, .error h3, .section.error:hover h3 {background:#c0392b; border:0; font-weight:normal;}
.section.confirm .arrow, .section.warning .arrow, .section.error .arrow	{border-color:#fff transparent transparent transparent;}
// .section.confirm .close .arrow, .section.warning .close .arrow, .section.error .close .arrow {border-top:8px dotted transparent; border-right:none; border-bottom:8px solid transparent; border-left:12px solid #fff;}
// .section.warning .arrow {border-color:#333 transparent transparent transparent;}
// .section.warning .close .arrow {border-left:12px solid #333;}