* 		{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body 	{background:#efefef;}

html,body,#Main,#Article,#sidebar,#Sidebar,#navigation,#Header,#Nav,#contentArea,#col1,#col2,#col3,#Footer
												{margin:0; padding:0;}
.fixedwidth							{width:100%;
	@include bp(desktop) 	{margin:0 auto; width:960px;}
	@include bp(wide) 		{width:80%; max-width:1200px;} }