/* Establish basic layout elements
-------------------------------------------------------------- */
* 		{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body 	{background:#efefef;}

html, body, #Main, #Article, #sidebar, #Sidebar, #navigation, #Header, #Nav, #contentArea, #col1, #col2, #col3, #Footer
										{margin:0; padding:0;}
.fixedwidth					{margin:0 auto; width:960px;} // used in footer so can't change to % unless it is changed

/* Links
-------------------------------------------------------------- */
a			{color:$link; text-decoration:none; position:relative; @include transition(all, .25s, ease-in-out);
	&:visited		{color:lighten($link, 10%);}
	&:hover,
	&:focus 		{color:$green; @include transition(all, .25s, ease-in-out);}
	&:active 		{top:1px;/*
	-webkit-transform: translateX(2px);
			-ms-transform: translateX(2px);
			 		transform: translateX(2px);*/}
}
#contentArea a:before {content:''; position:absolute; width:100%; height:1px; bottom:-1px; left:0; background:$green; visibility:hidden;
  -webkit-transform: scaleX(0);
  				transform: scaleX(0);
  @include transition(all, .3s, ease-in-out);}
#contentArea a:hover:before {visibility:visible;
  -webkit-transform: scaleX(1);
  				transform: scaleX(1);}

.content a:link, .content a:visited, table a:link 	{border-bottom:1px solid $link; text-shadow:none;}
.content a:visited {border-bottom:1px solid lighten($link, 10%);}
.content a:after {border:0;}
// #contentArea a:hover {border-bottom:1px solid $green;}
.section .coricon, .coricon {margin:0; padding:0 0 0 2px; border:0; background:none; vertical-align:middle; box-shadow:none;}

@-webkit-keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}

/*Pages*/
.content {margin:0 auto; min-width:10em; max-width:50em; padding:1% 2%; /*-webkit-animation:fadein 1s linear; animation:fadein 1s linear;*/}
#Article .content {padding:0;}
span.updatedDate {}
div.updatedDate {color:#555; font-size:0.8em; margin:0.5em 0 1em; border-bottom:1px solid #ddd; position:relative;}
#addThisButtons	{position:absolute; right:10px; top:110px; display:none;}
.box.ratings {clear:both;}
.ratings li {display:inline-block;}
.comments textarea {width:50%;}
.ratings input, .comments input {width:7em; height:3em;}
#col1Large {position:relative;}
.updated {position:absolute; padding-left:72%; /*right:11%;*/ color:#666;}
.pagetitle {background:$link; color:#fff; text-shadow:1px 3px 5px #333; padding:2% 2% 1%; border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
.sectiontitle {margin:0; padding:0.5% 1%; border-radius:5px; box-shadow:0 2px 4px #aaa; border:1px solid #ddd; @include gradient(#ddddde, #cccccd);}
.content h1 {@extend .pagetitle;}
// h1 {position:absolute; top:0; left:0; width:141%; padding-top:1%; @extend .pagetitle;}
.findmyservice, .calendar h1 {margin-left:-4%; padding:1% 4%; background:$link; color:#fff; font-size:1.5em; text-shadow:0 -1px $link, 0 1px $link; border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.1);}
.shortdesc, .content h1 + h3 {font-style:italic; color:#666;}
.park {border-radius:3px; box-shadow:2px 2px 0 rgba(0,0,0,0.2);}
label {display:block; @extend .quiet;}
iframe 	{@extend .outline; background:$offwhite;}
.youtube, .frame {margin:1%; height:0; position:relative; padding-bottom:56.25%;}
.half.youtube {padding-bottom:33%;}
.third.youtube {padding-bottom:25%;}
.youtube img {@extend .outline; cursor:pointer; position:absolute !important;}
.youtube iframe, .frame iframe, .youtube img {position:absolute; top:0; left:0; width:100%; height:100%;}
.frame {padding-bottom:75%;}

@media only screen and (min-width:95em) {
	.content {font-size:1.1em; max-width:52em;}
	.fixedwidth {width:80%; max-width:1220px;}
	.slider, .newslider-horizontal .sliderkit-panels {padding-bottom:60%;}
	.largeimage .photoslider-1click-slideshow img {height:482px;}
	.newslider-horizontal .sliderkit-nav-clip li a {width:15px; height:15px;}
}

@media only screen and (min-width:40em) and (max-width:60em) {
	body {line-height:1.5;}
	#screenWrapper, .wrapper{width:auto; overflow:hidden; border:0;}
	.fixedwidth {width:100%;}
	#addThisButtons {display:none;}
	.icons {font-size:0.9em;}
	.videos {width:51%;}
	.slider .newslider-horizontal .sliderkit-nav-clip li a {width:1em;height:1em;}
	.fixed, #Nav {bottom:0; top:auto;}
	.org ul {display:block; width:100%;}
	.content ul.individual {display:inline-block; width:48%;}
}

@media only screen and (max-width:40em) {
	html {-webkit-text-size-adjust:none;}
	body {line-height:1.4;}
	#contentArea {-webkit-hyphens:auto; -moz-hyphen:auto; -ms-hyphens:auto; hyphens:auto;}
	.fixedwidth {width:100%;}	
	#storyContentWrapper {padding:0;}
	.content ul, .content ol {clear:both;}
	#right > div, .mainarticlelinks, .maineventslinks, #sidebar .mainarticlelinks, #sidebar .maineventslinks, .videos, .open, .council, .half, .content .map, #footer {clear:both; float:none; margin:0.5%; padding:2%; width:99%; display:block;}
	.callout, .content .callout, #col2 .contact {margin:1%; /*padding:1%; width:90%;*/}
	.smallimage, .section .smallimage {float:none; width:100%;}
	.largeimage .photoslider-1click-slideshow img, .smallimage .photoslider-1click-slideshow img {max-height:500px;}
	.content {max-width:40em;}
	.slider .newslider-horizontal .sliderkit-nav-clip li a {width:1em;height:1em;}
	.slider .newslider-horizontal .sliderkit-panels{margin-bottom:6%;}
	.slider .newslider-horizontal .sliderkit-panel-textbox, .slider .newslider-horizontal .sliderkit-panel-overlay {padding-bottom:25%;}
	.slider {margin-bottom:20px;}
	#col2 .sliderkit-news-readmore, #col2 .sliderkit-panel-text {font-size:1em;}
	.slideshow .photoslider-1click-slideshow .sliderkit-panel .sliderkit-panel-textbox {font-size:0.8em;}
	.section img, .images, .bcimage {width:98%;}
	.section img.left, .section img.right {margin:10px 0;}
	.contact img.left {float:right;}
	.section h3 img {width:auto;}
	.landing {font-size:1.2em;}
	.org ul, .content ul.individual {display:block; width:100%;}
	.mainRss {top:12px;}
	.scroll {overflow:hidden;}
	.newsList a.more, .eventsList a.more {display:block;}
	thead {position:absolute; clip:rect(1px 1px 1px 1px);/*IE6/7*/ clip:rect(1px, 1px, 1px, 1px); padding:0; border:0; height:1px; width:1px; overflow:hidden;}
	tr, td {display:block; text-align:right; border:0;}
	td[data-title]:before {content: attr(data-title); float:left; font-size:0.9em; font-style:italic;}
  .third, .half {width:99%;}
  .youtube, .half.youtube, .third.youtube {padding-bottom:56.25%;}
  .contactResultsName, .contactResultsTitle, .contactResultsDiv, .contactResultsPhoneNumber {clear:both; width:100%;}
	@-ms-viewport {width:device-width;}
}

/*Shares*/
.sharing {position:absolute; top:-2px; right:0;}
.content a.tweets {background:#00acee; color:#fff; text-decoration:none; padding:1%; border-radius:3px;}
.content a.shares {background:#3b5998; color:#fff; text-decoration:none; padding:1%; border-radius:3px;}
.sharing .count {background:#fff; border:1px solid #aaa; color:#aaa; padding:0 3%;}
.sharing iframe {padding:0; background:transparent; box-shadow:none; border:none;}


/*Generic classes
-------------------------------------------------------------- */
.cf							{overflow:hidden;}
.clear 					{clear:both; margin:0;}
.hidden 				{display:none;}
.left 					{float:left;}
.right 					{float:right;}
.middle 				{vertical-align:middle;}
.first 					{margin-left:0; padding-left:0;}
.last 					{margin-right:0; padding-right:0; border-right:none;}
.fifth					{width:19%;}
.fourth					{width:24%;}
.third 					{width:32%;}
.half 					{width:49.5%;}
.twothirds			{width:64%;}
.small 					{width:25%;}
.medium					{width:50%;}
.large					{width:78%;}
.full						{width:99%;}
.align-justify	{text-align:justify;}
.align-left			{text-align:left;}
.align-center		{text-align:center;}
.align-right		{text-align:right;}
.fixed					{position:fixed; top:0; left:0;}
.notfixed				{position:relative;}
.line, hr 			{clear:both; margin:0.6em 0 1.2em 0; width:100%; height:1px; background:#ddd; border:0;}
.formbox				{padding:0 2%; font-size:1.1em;}
img 						{border:0; max-width:100%;}
.action, .action:visited 	{margin:5%; padding:6px 18px; border:1px solid #666; border-radius:2px; text-shadow:0 1px rgba(0, 0, 0, 0.1); color:#fff; font-size:1.1em; font-weight:700; @include gradient(#B2B2B2, #666665);}
.action:hover 	{border:1px solid #b2b2b2; color:#fff; text-shadow:1px 1px 3px #111; box-shadow:0 1px 1px rgba(0,0,0,0.2); cursor:pointer; text-decoration:none; @include gradient(#666665, #B2B2B2);}
.action:active 	{box-shadow:inset 0 1px 2px rgba(0,0,0,0.3)}
.action img			{display:none;}
.toggle 				{@extend %inlineblock; cursor:pointer; opacity:0.5; -webkit-filter:#{'grayscale(100%)'};}
.toggle:hover		{@extend .active;}
.active 				{opacity:1; -webkit-filter:#{'grayscale(0%)'};}

/*OOCSS - start using % for placeholders not needed in compiled css*/
.dotted					{border-bottom:1px dotted #ddd;}
.underline			{border-bottom:1px solid #ddd;}
%inlineblock 		{display:inline-block; vertical-align:top;}