/*Ally*/
.ally, .homeicon, .glassicon {position:absolute; clip:rect(1px 1px 1px 1px);/*IE6/7*/ clip:rect(1px, 1px, 1px, 1px); padding:0; border:0; height:1px; width:1px; overflow:hidden;}
.ie8 .homeicon {position:relative;}

/*Icons*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	font-weight: normal; font-style: normal;}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
			url('fonts/icomoon.ttf') format('truetype'),
			url('fonts/icomoon.woff') format('woff'),
			url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal; font-style: normal;}

@media only screen and (min-width:1em) {
	/* Use the following CSS code if you want to have a class per icon*/
	[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after, .mainRss a:after, #Nav li:first-child > a:before, #Home:before, #Glass:before, #Nav #Lines:after, a[href $='.doc']:after, a[href $='.pdf']:after, a[href $='.docx']:after, a[href $='.xls']:after, a[href $='.xlsx']:after, a[href $='.zip']:after, a[href ^="mailto:"]:after, a[href^='http']:after, a[href *='/Contacts/']:after, .utility a:before, .content a:not(.imglink)[href$='FormsDirectory.html']:after, .content a:not(.imglink)[href^='http://onlinedevcenter']:after, .content a:not(.imglink)[href$='CurrentDevelopmentActivity.html']:after, .content a:not(.imglink)[href$='Face2FaceServices.html']:after, .content a:not(.imglink)[href$='DrawingsStandardDetailsIndex.html']:after, .content a:not(.imglink)[href$='ZoningPermitsBusiness.html']:after, .content a:not(.imglink)[href*='DevelopmentFeeSchedule']:after, a:not(.imglink)[href*='/extra/Books/']:after, .addevent label:after {
	/*.icon-mail, .icon-location, .icon-calendar, .icon-calendar-2, .icon-file-word, .icon-file-pdf, .icon-file-excel, .icon-user, .icon-play, .icon-lines, .icon-new-tab, .icon-warning, .icon-play-alt, .icon-play-2, .icon-camera, .icon-home, .icon-document-alt-fill, .icon-folder, .icon-folder-2, .icon-file-zip, .icon-phone, .icon-share, .icon-search, .icon-DSFormDirectory, .icon-DSFeeSchedule, .icon-DSFaceToFace, .icon-DSOnlineDevelopment, .icon-DSStandardDrawing, .icon-DSZonning, .icon-mail-2, .icon-DSCurrentDevelopment, .icon-facebook, .icon-twitter, .icon-youtube, .icon-flickr, .icon-feed, .icon-gplus, .icon-linkedin, .icon-pinterest, .icon-book {*/
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;}

	.action:hover .icon-mail {position:relative; top:-5px; @include transition(top, .25s, ease-in-out);}
	a[href $='.doc'], a[href $='.docx'] {@extend .icon-file-word;}
	// a:not(.imglink)[href $='.pdf'] {@extend .icon-file-pdf;}
	a[href $='.xls'], a[href $='.xlsx'] {@extend .icon-file-excel;}
	a[href $='.zip'] {@extend .icon-file-zip;}
	a[href ^="mailto:"] {@extend .icon-envelope;}
	a:not(.imglink)[href *='/Contacts/'] {@extend .icon-user2;}
	#col1 a[href^='http'], #col2 :not(.slider) a:not(.imglink)[href^='http'], #col3 a[href^='http'] {@extend .icon-new-tab;}
	a:not(.imglink)[href*='/extra/Books/'] {@extend .icon-book;}

	.imglink:before, .imglink:after {display:none;}

	.content a:not(.imglink)[href$='FormsDirectory.html']:before {@extend .icon-DSFormDirectory:before;}
	.content a:not(.imglink)[href*='DevelopmentFeeSchedule']:before {@extend .icon-DSFeeSchedule:before;}
	.content a:not(.imglink)[href^='http://onlinedevcenter']:before {@extend .icon-DSOnlineDevelopment:before;}
	.content a:not(.imglink)[href$='CurrentDevelopmentActivity.html']:before {@extend .icon-DSCurrentDevelopment:before;}
	.content a:not(.imglink)[href$='Face2FaceServices.html']:before {@extend .icon-DSFaceToFace:before;}
	.content a:not(.imglink)[href$='DrawingsStandardDetailsIndex.html']:before {@extend .icon-DSStandardDrawing:before;}
	.content a:not(.imglink)[href$='ZoningPermitsBusiness.html']:before {@extend .icon-DSZonning:before;}

	.icon-mail:before {content: "\e600";  font-size:2em; padding-right:5px; vertical-align:middle;}
	.icon-location:before {content: "\e601"; font-size:2em; vertical-align:middle; padding-right:5px;}
	.icon-location2:after {content: "\e601"; font-size:1em;}
	.icon-list:before, #Nav #Lines:after {content: "\e604"; vertical-align:middle; font-size:1.5em;}
	.icon-video:before {content: "\e606";}
	.icon-calendar:before {content: "\e607"; font-size:2em; vertical-align:middle; padding-right:5px;}
	.icon-addcalendar:after {content: "\e607"; font-size:1em; padding-left:5px;}
	.icon-file-word:after {content: "\e617"; margin-left:0.25em; font-size:1em; color:#00178f; background:#fff; border-radius:10px;}
	.icon-file-pdf:after, a:not(.imglink)[href $='.pdf']:after {content: "\e616"; margin-left:0.25em; font-size:1em; color:#e62828; text-decoration:none; background:#fff; border-radius:10px;}
	.icon-file-excel:after {content: "\e618"; margin-left:0.25em; font-size:1em; color:#007133;}
	.icon-envelope:after {content: "\e60c"; font-size:0.9em; margin-left:0.25em;}
	.icon-mail2:after {content: "\e605"; font-size:0.9em; margin-left:0.25em;}
	.icon-user:before {content: "\e60d"; font-size:2em; vertical-align:middle; padding-right:5px;}
	.icon-user2:after {content: "\e60d"; margin-left:0.25em; font-size:1em;}
	.icon-play:before {content: "\e60a"; position:absolute; z-index:100; color:#e52d27; font-size:2.5em; top:40%; left:45%; width:10%; cursor:pointer;}
	.icon-new-tab:after {content: "\e60f"; margin-left:0.25em; font-size:0.9em;}
	.icon-home:before, #Nav li:first-child > a:before {content: "\e608"; line-height:42px; font-size:1.5em; vertical-align:sub;}
	.icon-file-powerpoint:after {content: "\e619"; margin-left:0.25em; font-size:1em; color:#dd5800;}
	.icon-file-zip:after {content: "\e61a"; margin-left:0.25em; font-size:1em; color:#666;}
	.icon-phone:before {content: "\e60b";}
	.icon-DSZonning:before {content: "\e621"; @extend .icon-DS;}
	.icon-DSStandardDrawing:before {content: "\e622"; @extend .icon-DS;}
	.icon-DSOnlineDevelopment:before {content: "\e623"; @extend .icon-DS;}
	.icon-DSFormDirectory:before {content: "\e624"; @extend .icon-DS;}
	.icon-DSFeeSchedule:before {content: "\e625"; @extend .icon-DS;}
	.icon-DSFaceToFace:before {content: "\e626"; @extend .icon-DS;}
	.icon-DSCurrentDevelopment:before {content: "\e627"; @extend .icon-DS;}
	.icon-book:after {content: "\e620"; margin-left:0.25em; font-size:1em; color:$teal;}
	.icon-facebook:before {content: "\e611"; /*color:#3B5999;*/ font-size:2.25em; border-radius:15px;}
	.icon-twitter:before {content: "\e612"; font-size:2.25em; /*background:#4099FF;*/ border-radius:15px;}
	.icon-youtube:before {content: "\e609"; font-size:2.5em; /*color:#CD332D;*/ display:inline-block; width:34px; height:30px; border-radius:15px;}
	.icon-flickr:before {content: "\e614"; font-size:2.25em; border-radius:15px; color:#fff; /*background-image: linear-gradient(to right, #0062da 50%, #ff0084 50%);                      
	        background-size: 80% 80%; background-position:center; background-repeat: no-repeat;*/}
	.icon-feed:after {content: "\e613"; color:$orange; padding:0 5px; font-size:0.9em; text-shadow:1px 1px 1px #ccc;}
	.icon-google-plus:before {content: "\e610";}
	.icon-pinterest:before {content: "\e615"; color:$orange; background:#fff; font-size:0.6em; border-radius:10px; text-shadow:1px 1px 1px #ccc;}
	.icon-warning:before {content: "\e61b";}
	.icon-notification:before {content: "\e61c";}
	.icon-search:before {content: "\e61d";}
	.icon-clock:after {content: "\e628"; font-size:1em;}

	.icon-DS {color:#444; font-size:1.6em; padding-right:5px;}
	#col2 .icon-DS {font-size:1em;}
}